footer {
  background: black;
  color: white;
  p, .heading5 {
    line-height: normal;
  }
  .heading5 {
    margin-bottom: 5px;
  }
  .red-title {
    position: relative;
    background: #ee222b;
    color: white;
    line-height: 100px;
    font-size: 24px;
    text-align: center;
    @media (max-width: @screen-sm-max) {
      font-size: 18px;
      line-height: 50px;
    }
    @media (max-width: @screen-xs-max) {
      font-size: 12px;
      line-height: 3em;
    }
    &:after {
      position: absolute;
      bottom: -14px;
      left: 50%;
      margin-left: -14px;
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14px 14px 0 14px;
      border-color: #ee222b transparent transparent transparent;
    }
  }
  .copyright {
    height: 75px;
    background: #525252;
    line-height: 75px;
    text-align: center;
    font-size: 12px;
    a {
    	color: #fff;
    }
    @media (max-width: @screen-xs-max) {
      height: 30px;
      line-height: 30px;
    }
  }
  > .container {
    padding-top: 70px;
    @media (max-width: @screen-md-max) {
      padding-top: 50px;
    }
    @media (max-width: @screen-xs-max) {
      padding-top: 35px;
    }
  }
  .footer-module {
    margin-top: 30px;
    @media (max-width: @screen-md-max) {
      min-height: 510px;
      &.height-auto {
        min-height: 0;
      }
    }
    @media (max-width: @screen-xs-max) {
      min-height: 0;
    }
    .heading3 {
      text-transform: capitalize;
      @media (max-width: @screen-md-max) {
        margin-top: 20px;
      }
    }
  }
  .product-module {
    ul {
      li {
        margin-bottom: 15px;
        a {
          display: block;
          width: 250px;
          height: 140px;
          background-image: url('../images/upload/sp1.jpg');
          background-size: cover;
          &:hover {
            background-image: url('../images/upload/sp1-hover.jpg');
          }
          @media (max-width: @screen-xs-max) {
            width: 100%;
            height: 170px;
          }
        }
      }
    }
  }
  .news-module {
    ul {
      li {
        margin-bottom: 20px;
        .title {
          margin-bottom: 5px;
          font-size: 17px;
          font-weight: 300;
          @media (max-width: @screen-xs-max) {
            font-size: 12px;
            font-weight: normal;
          }
        }
        .time {
          color: #848484;
        }
      }
    }
  }
  .tag-list {
    li {
      display: inline-block;
      margin: 5px;
      a {
        color: #a1b1bc;
        padding: 5px 7px;
        border: 1px solid #a1b1bc;
        line-height: 35px;
        &:hover {
          color: white;
          border-color: white;
        }
      }
    }
  }
  .footer-menu {
    ul {
      padding: 30px 0;
      text-align: center;
      li {
        display: inline;
        a {
          padding: 0 22px;
          color: white;
          text-transform: uppercase;
          &:hover {
            color: @main-red-color;
          }
          @media (max-width: @screen-sm-max) {
            padding: 0 15px;
          }
        }
      }
      @media (max-width: @screen-xs-max) {
        .clearfix();
        li {
          display: inline-block;
          float: left;
          width: 50%;
          margin-bottom: 15px;
          text-align: left;
          a {padding: 0;}
        }
      }
    }
  }
}

@media only screen and (min-with: @screen-sm-min) {

}
