header {
  .navbar-default {
    background: rgba(248,248,248, 0.95);
  }
  .header-menu {
    height: 33px;
    background: #000;
    li, a, p {
      color: #fff;
      line-height: 33px;
    }
    .top-menu {
      ul {
        li {
          display: inline;
          &:after {
            padding: 0 7px;
            content: "|";
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
          a {
            line-height: 33px;
          }
        }
      }
    }
    .social-block {
      li {
        display: inline-block;
        width: 30px;
        height: 33px;
        line-height: 33px;
        @media (max-width: @screen-xs-max) {
          margin-left: 3px;
          width: auto;
        }
      }
      a {
        display: inline-block;
        width: 15px;
        height: 14px;
        background: url('../images/social-icon.png');
        background-repeat: no-repeat;
        &.tw-icon {
          background-position: -30px bottom;
        }
        &.drib-icon {
          background-position: -60px bottom;
        }
        &.pin-icon {
          background-position: -90px bottom;
        }
        &.insta-icon {
          background-position: -120px bottom;
        }
        &.rss-icon {
          background-position: -150px bottom;
        }
      }
    }
    .lang-block {
      a {
        padding: 3px 5px;
        border-radius: 5px;
        border: 1px solid #fff;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
  nav {
    border-bottom: 1px solid #c3c3c3;
    .logo {
      float: left;
      margin: 12px 0;
      @media (max-width: @screen-md-max) {
        width: 200px;
      }
      @media (max-width: @screen-sm-max) {
        width: 150px;
      }
      @media (max-width: @screen-xs-max) {
        width: 100px;
        margin: 15px;
      }
      img {max-width: 100%;}
    }
    .navbar-toggle {
      margin: 15px;
    }
    .navbar-header {
      clear: both;
      .clearfix();
    }
    .navbar-collapse {
      @media (max-width: @screen-xs-max) {
        background: rgb(248,248,248);
      }
    }
    .nav {
      float: right;
      margin-top: 50px;
      @media (max-width: @screen-md-max) {
        margin-top: 40px;
      }
      @media (max-width: @screen-sm-max) {
        margin-top: 25px;
      }
      @media (max-width: @screen-xs-max) {
        margin-top: 10px;
        float: none;
      }
      & > li {
        float: left;
        position: relative;
        display: block;
        padding-bottom: 37px;
        @media (max-width: @screen-md-max) {
          padding-bottom: 32px;
        }
        @media (max-width: @screen-xs-max) {
          float: none;
          padding: 10px 15px;
        }
        &.current {
          & > a {
            color: #ff0000;
          }
        }
        a {
          margin: 5px 34px 0 0;
          @media (max-width: @screen-md-max) {
            margin-right: 24px;
          }
          color: #000;
          font-size: 15px;
          @media (max-width: @screen-sm-max) {
            padding: 0;
            font-size: 12px;
            // line-height: normal;
            margin-right: 14px;
          }
          @media (max-width: @screen-xs-max) {
            display: block;
            line-height: 20px;
            font-weight: normal;
          }
          font-weight: bold;
          text-transform: uppercase;
          &:hover {
            color: #ff0000;
          }
          &.home {
            text-indent: -99px;
            display: inline-block;
            margin-top: 1px;
            padding: 0;
            width: 19px;
            height: 16px;
            background: url(@nippon-icon) 0 0 no-repeat;
            @media (max-width: @screen-sm-max) {
              margin-top: 0;
            }
          }
        }
        &:last-child a {
          margin-right: 0;
        }
        &.dropdown {
          .dropdown-menu {
            top: 57px;
            @media (max-width: @screen-md-max) {
              top: 50px;
            }
            @media (max-width: @screen-sm-max) {
              top: 37px;
            }
            padding: 0;
            min-width: 220px;
            border-top: 3px solid #ed1c24;
            border-radius: 0;

            @media (max-width: @screen-xs-max) {
              border: none;
            }
            li {
                border-bottom: 1px solid #f7f7f7;
                &:last-child {
                  border-bottom: none;
                }
              a {
                margin: 0;
                padding: 14px;
                text-transform: none;
                color: #ababab;
                font-weight: normal;
                &.current,
                &:hover {
                  color: #000;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-with: @screen-sm-min) {

}
