//
// Breadcrumbs
// --------------------------------------------------

.breadcrumb-container {
	border-bottom: 1px solid #c3c3c3;
}
.breadcrumb {
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
  list-style: none;

  > li {
    display: inline-block;
    text-transform: uppercase;

    + li:before {
      content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: @breadcrumb-color;
    }
    > a {
    	color: @breadcrumb-color;
    }
  }

  > .active {
    color: @breadcrumb-active-color;
  }
}
