// Common
.color-1 {}

a {
  transition: all 0.2s ease;
  @media (max-width: @screen-xs-max) {
    font-size: 13px;
  }
}

p {
  line-height: normal;
}

.text-italic {
  font-style: italic;
}
.btn {
  border-radius: 0;
}

a.white-link {
  color: white;
  &:hover {
    color: @main-red-color;
  }
}

.btn-red {
  padding: 5px 10px;
  background: @main-red-color;
  color: white;
  &:hover {
    background: lighten(@main-red-color, 10%);
    color: white;
  }
}

.heading3 {
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 300;
  @media (max-width: @screen-sm-max) {
    font-size: 18px;
  }
}

.page-heading {
  margin: 45px 0 65px;
  font-size: 50px;
  text-transform: uppercase;
  color: #a8a8a8;
  text-align: center;
  font-weight: normal;
  @media (max-width: @screen-xs-max) {
    margin: 20px 0 30px;
    font-size: 25px;
  }
}
.red-heading {
  color: @main-red-color;
  font-weight: bold;
  text-transform: uppercase;
}

.thumbnail {
  overflow: hidden;
  a {
    position: relative;
    display: block;
    img {
      transition: opacity .3s ease-out;
    }
    .color {
      display: block;
      opacity: 1;
    }
    .black {
      display: none;
      opacity: 0;
    }
    @media (max-width: @screen-md-max) {
      .black {
        display: none;
        opacity: 0;
      }
      .color {
        display: block;
        opacity: 1;
      }
    }
    // width: 100%;
    // height: 100%;
    // &:after {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   content: '';
    //   opacity: 1;
    //   background: rgba(22,22,22,.3);
    //   transition: opacity .3s ease-out;
    //   @media (max-width: @screen-xs-max) {
    //     display: none;
    //   }
    // }
    @media (min-width: @screen-sm) {
      &:hover {
        .color {
          display: block;
          opacity: 1;
        }
        .black {
          display: none;
          opacity: 0;
        }
      }
    }
  }
}

.collapse {
  display: none;
  &.in {
    display: block;
  }
}
.slick-slider {
  img {
    max-width: 100%;
  }
  .slick-arrow {
    margin-top: -41px;
    width: 82px;
    height: 82px;
    @media (max-width: @screen-md-max) {
      width: 60px;
      height: 60px;
      margin-top: -30px;
    }
    // border-radius: 50%;
    // border: 1px solid #bdbdbd;
    z-index: 1;
    transition: all 0.2s ease;
    background: url("../images/ico-arrow.png") no-repeat;
    background-size: 100%;
    &:before {
      display: none;
    //   margin-top: -15px;
    //   color: #bdbdbd;
    //   font-size: 70px;
    //   font-weight: 300;
      transition: all 0.2s ease;
    }
    &:hover, &:focus {
      background: url("../images/ico-arrow-hover.png") no-repeat;
      background-size: 100%;
    //   border-color: darken(#bdbdbd, 10%);
    //   &:before {
    //     color: darken(#bdbdbd, 10%);;
    //   }
    }
  }
  .slick-prev {
    left: 10px;
    transform: rotate(180deg);
    // &:before {
    //   content: '\2039';
    // }
  }
  .slick-next {
    right: 10px;
    // &:before {
    //   content: '\203A';
    // }
  }
}

.home-slider {
  .slick-slider {
    margin: 0;
  }
  .style1 {
    position: relative;
    .content {
      position: absolute;
      top: 30%;
      right: 10%;
      @media (max-width: @screen-xs-max) {
        top: 20%;
      }
    }
    p {
      text-align: center;
      font-size: 60px;
      @media (max-width: @screen-md-max) {
        font-size: 40px;
      }
      @media (max-width: @screen-xs-max) {
        font-size: 15px;
      }
    }
    .text-blue {
      color: #09428f;
    }
    .text-red {
      color: #ed1b24;
    }
    .btn-red {
      padding: 20px 45px;
      background: #ed1c24;
      border-radius: 10px;
      font-size: 24px;
      @media (max-width: @screen-md-max) {
        padding: 10px 25px;
        font-size: 20px;
        border-radius: 7px;
      }
      @media (max-width: @screen-xs-max) {
        padding: 5px 10px;
        font-size: 15px;
        border-radius: 5px;
      }
      &:hover {
        background: lighten(#ed1c24, 10%);
      }
    }
  }
  h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: normal;
  }
  p {
    margin-bottom: 10px;
    text-align: justify;
  }
  .videoWrapper {
    padding-top: 80px;
    height: 100%;
    background-size: cover;
    @media (max-width: @screen-md-max) {
      padding-top: 50px;
    }
    @media (max-width: @screen-sm-max) {
      padding-top: 20px;
    }
    @media (max-width: @screen-xs-max) {
      padding-top: 15px;
    }
    iframe {
      max-width: 100%;
      max-height: 100%;
      @media (max-width: @screen-xs-max) {
        max-height: 170px;
      }
    }
  }

  .slider-for {
    background: #EFEFEF;
    .slick-slide {
      height: 580px;
      @media (max-width: @screen-md-max) {
        height: 470px;
      }
      @media (max-width: @screen-sm-max) {
        height: 400px;
      }
      @media (max-width: @screen-xs-max) {
        height: 200px;
      }
    }
  }

  .slider-for.slick-initialized .slick-slide.slick-current {
    position: relative;
    &:before {
      position: absolute;
      z-index: 99;
      display: block;
      content: '';
      bottom: -2px;
      margin-left: -20px;
      left: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 20px 20px 20px;
      border-color: transparent transparent #fff transparent;          
    }
  }
  .slider-nav {
    height: 95px;
    @media (max-width: @screen-sm-max) {
      height: 50px;
    }
    color: #8b8b8b;
    text-transform: uppercase;
    border-bottom: 1px solid #c4c4c4;
    .heading3 {
      display: inline-block;
      margin: 0;
      line-height: 95px;
      text-align: center;
      position: relative;
      @media (max-width: @screen-sm-max) {
        line-height: 50px;
        font-size: 15px;
      }
      &:hover {
        cursor: pointer;
        color: @main-red-color;
      }
      &:last-child {
        border: none;
      }
      &.slick-current {
        color: @main-red-color;
        border-left: 1px solid #c4c4c4;
        border-right: 1px solid #c4c4c4;
        @media (max-width: @screen-sm-max) {
          border: none;
        }
        // &:before {
        //   position: absolute;
        //   display: block;
        //   content: '';
        //   top: -20px;
        //   // margin-top: -50px;
        //   left: 50%;
        //   width: 0;
        //   height: 0;
        //   border-style: solid;
        //   border-width: 0 20px 20px 20px;
        //   border-color: transparent transparent #000 transparent;
        // }
      }
    }
    .slick-arrow {
      // background: white;
      @media (max-width: @screen-sm-max) {
        width: 40px;
        height: 40px;
        margin-top: -20px;
        // &:before {
        //   font-size: 55px;
        // }
      }
    }
  }
}

.inspiration-block {
  .clearfix();
  .article {
    position: relative;
    float: left;
    width: 50%;
    height: 340px;
    transition: all 0.2s ease;
    @media (max-width: @screen-md-max) {
      height: 250px;
    }
    .thumbnail {
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      overflow: hidden;
      &:before {
        position: absolute;
        top: 50%;
        right: -5px;
        z-index: 1;
        margin-top: -50px;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 50px 50px 0;
        border-color: transparent #fff transparent transparent;
        @media (max-width: @screen-md-max) {
          margin-top: -25px;
          border-width: 25px 25px 25px 0;
        }
        @media (max-width: @screen-xs-max) {
          display: none;
        }
      }
      img {
        height: 100%;
      }
      @media (max-width: @screen-xs-max) {
        float: none;
        width: auto;
        height: 170px;
        img {
          width: 100%;
          height: auto;
        }
      }
      @media (max-width: @screen-sm-max) {
        a {
          height: 100%;
        }
      }
    }
    @media (max-width: @screen-xs-max) {
      float: none;
      width: auto;
      height: auto;
    }
    .content {
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      .inner {
        @media (min-width: @screen-sm) {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding: 0 20px;
        }
        @media (max-width: @screen-xs-max) {
          padding: 20px;
        }

      }
      @media (max-width: @screen-xs-max) {
        width: auto;
        float: none;
      }
      background: white;
      p {
        margin-top: 25px;
        @media (max-width: @screen-md-max) {
          margin-top: 15px;
          font-size: 13px;
        }
        @media (max-width: @screen-sm-max) {
          margin-top: 10px;
          font-size: 13px;
        }
      }
      .red-heading {
        @media (max-width: @screen-sm-max) {
          font-size: 14px;
        }
        &:hover {
          color: darken(@main-red-color, 10%);
        }
      }
      .readmore {
        display: block;
        margin-top: 25px;
        color: black;
        text-transform: uppercase;
        &:after {
          content: '  -->';
        }
        &:hover {
          color: @main-red-color;
        }
        @media (max-width: @screen-sm-max) {
          margin-top: 10px;
          font-size: 13px;
        }
      }
    }
    &.right-style {
      background-position: right 0;
      .thumbnail {
        float: right;
        @media (max-width: @screen-xs-max) {
          float: none;
        }
        &:before {
          display: none;
        }
      }
      .content {
        float: left;
        &:after {
          position: absolute;
          display: block;
          content: '';
          top: 50%;
          margin-top: -50px;
          right: -50px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 50px 0 50px 50px;
          border-color: transparent transparent transparent #ffffff;
          @media (max-width: @screen-md-max) {
            right: -25px;
            margin-top: -25px;
            border-width: 25px 0 25px 25px;
          }
          @media (max-width: @screen-xs-max) {
            display: none;
          }
        }
        @media (max-width: @screen-xs-max) {
          float: none;
        }
        &:before {display: none;}
      }
    }
  }
}

.color-block {
  padding: 138px 0 110px;
  background: #f5f5f7;
  text-align: center;
  @media (max-width: @screen-sm-max) {
    padding: 70px 0;
  }
  .color-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    width: 365px;
    @media (max-width: @screen-md-max) {
      margin-right: 3%;
      width: 30%;
    }
    @media (max-width: @screen-xs-max) {
      width: auto;
      margin: 0 0 20px 0;
      .inner {
        padding: 0 15px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    .thumbnail {
      display: block;
      height: 270px;
      @media (max-width: @screen-sm-max) {
        height: 150px;
      }
      img {
        height: auto;
      }
    }
    .inner {
      text-align: left;
    }
    .number {
      margin-top: -10px;
      text-align: right;
      color: white;
      font-weight: bold;
      font-size: 80px;
      line-height: 1;
    }
    .red-heading {
      margin-bottom: 40px;
      font-size: 24px;
      @media (max-width: @screen-md-max) {
        margin-bottom: 20px;
        font-size: 18px;
      }
      @media (max-width: @screen-sm-max) {
        font-size: 15px;
      }
    }
    .desc {
      text-align: justify;
      line-height: normal;
      height: 6em;
      overflow: hidden;
      @media (max-width: @screen-sm-max) {
        font-size: 13px;
      }
    }
  }
}

.product-block {
  .desc {
    padding-top: 138px;
    padding-bottom: 30px;
    text-align: center;
    color: #acacac;
    @media (max-width: @screen-sm-max) {
      padding-top: 70px;
    }
    @media (max-width: @screen-sm-max) {
      padding: 35px 15px;
    }
  }
  #search-form {
    text-align: center;
    @media (max-width: @screen-xs-max) {
      padding: 0 15px;
    }
    .btn {
      position: relative;
      width: 100%;
      border: none;
      border-radius: 0;
      line-height: 65px;
      font-size: 15px;
      text-transform: uppercase;
      color: #7c7c7c;
      @media (max-width: @screen-md-max) {
        line-height: 30px;
      }
    }
    .caret {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -6px;
      border-style: solid;
      border-width: 11px 8px 0 8px;
      border-color: #acacac transparent transparent transparent;
      @media (max-width: @screen-md-max) {
        margin-top: -3px;
        border-style: solid;
        border-width: 8px 6px 0 6px;
      }
    }
    .dropdown-menu {
      right: 0;
      margin-top: 0;
      border-radius: 0;
    }
    .btn-group,
    .submit-btn {
      display: inline-block;
      width: 230px;
      @media (max-width: @screen-md-max) {
        margin-bottom: 10px;
      }
      @media (max-width: @screen-sm-max) {
        width: 40%;
      }
      @media (max-width: @screen-xs-max) {
        width: 100%;
      }
    }
    .btn-group {
      .btn {
        background: #e9e9e9;
      }
    }
    .submit-btn {
      width: auto;
      padding-left: 35px;
      padding-right: 35px;
      background: #8d8d8d;
      color: white;
      text-transform: uppercase;
      @media (max-width: @screen-xs-max) {
        width: 100%;
      }
      &:hover { background: #f00; }
    }
  }
  .product-list {
    margin-top: 70px;
    .clearfix();
    @media (max-width: @screen-xs-max) {
      margin-top: 35px;
    }
    .product {
      float: left;
      padding-right: 1px;
      width: 25%;
      background: white;
      @media (max-width: @screen-xs-max) {
        width: auto;
        float: none;
        padding: 0;
        margin-top: 15px;
      }
      .thumbnail {
        max-height: 250px;
        @media (max-width: @screen-sm-max) {
          height: 100px;
        }
        @media (max-width: @screen-sm-max) {
          height: auto;
          max-height: 170px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      span {
        display: block;
        background: #ed1b24;
        color: white;
        text-transform: uppercase;
        line-height: 80px;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
        @media (max-width: @screen-md-max) {
          line-height: 60px;
          font-size: 15px;
        }
        @media (max-width: @screen-xs-max) {
          line-height: 45px;
        }
      }
    }
  }
}
.tip-tool-block {
  padding: 138px 0 90px 0;
  background: #f5f5f7;
  @media (max-width: @screen-md-max) {
    padding: 100px 0;
  }
  @media (max-width: @screen-sm-max) {
    padding: 70px 0;
  }
  @media (max-width: @screen-xs-max) {
    padding: 35px 0;
  }
  .tips-slider {
    width: 70%;
    margin: 0 auto;
    @media (max-width: @screen-xs-max) {
      width: 100%;
      overflow: hidden;
    }
    .edgtf-circle-carousel .edgtf-circle-carousel-slider {
      width: 60%;
    }
    .tip-item {
      background: white;
      .inner {
        width: 840px;
        height: 370px;
        padding: 110px 60px 0 250px;
        background: url('../images/tip1-bg.jpg') 0 bottom no-repeat;
        @media (max-width: @screen-sm-max) {
          width: 600px;
          height: 300px;
          padding-top: 50px;
        }
        @media (max-width: @screen-xs-max) {
          width: auto;
          height: 500px;
          padding: 15px 15px 200px;
          background-size: 50% auto;
          background-position: bottom left;
        }
        p {
          line-height: normal;
          text-align: justify;
          @media (max-width: @screen-sm-max) {
            font-size: 13px;
          }
        }
      }
      .red-heading {
        margin-bottom: 35px;
        font-size: 30px;
        @media (max-width: @screen-sm-max) {
          margin-bottom: 20px;
          font-size: 18px;
        }
      }
      .readmore {
        display: block;
        line-height: 69px;
        color: white;
        background: #ee242d;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        @media (max-width: @screen-sm-max) {
          line-height: 45px;
          font-size: 15px;
        }
      }
    }
    .slick-prev {
      left: -120px;
      @media (max-width: @screen-md-max) {
        left: -80px;
      }
      @media (max-width: @screen-sm-max) {
        left: -70px;
      }
      @media (max-width: @screen-xs-max) {
        left: 15px;
      }
    }
    .slick-next {
      right: -120px;
      @media (max-width: @screen-md-max) {
        right: -80px;
      }
      @media (max-width: @screen-sm-max) {
        right: -70px;
      }
      @media (max-width: @screen-xs-max) {
        right: 15px;
      }
    }
  }
}

.news-block {
  .clearfix();
  padding-top: 138px;
  padding-bottom: 100px;
  @media (max-width: @screen-md-max) {
    padding-top: 100px;
  }
  @media (max-width: @screen-sm-max) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media (max-width: @screen-xs-max) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  article {
    padding-bottom: 50px;
    margin-right: 20px;
    max-width: 352px;
    @media (max-width: @screen-xs-max) {
      margin: 0;
      max-width: none;
    }
    h3, p {
      text-align: left;
    }
    h3 {
      color: #ee242d;
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
      @media (max-width: @screen-sm-max) {
        font-size: 18px;
      }
    }
    .inner {
      position: relative;
      .time {
        position: absolute;
        top: 0;
        padding: 15px;
        background: black;
        color: white;
        p {
          text-align: center;
          font-size: 11px;
          &.date {
            margin-top: 10px;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
    .thumbnail {
      max-height: 300px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .title {
      margin-top: 40px;
      text-transform: uppercase;
      font-weight: bold;
      @media (max-width: @screen-xs-max) {
        margin-top: 20px;
      }
    }
    p {
      text-align: justify;
      line-height: normal;
      @media (max-width: @screen-md-max) {
        font-size: 13px;
        &.title {
          text-align: left;
        }
      }
    }
    .info {
      .clearfix();
      margin: 15px 0 30px 0;
      text-align: left;
      @media (max-width: @screen-sm-max) {
        margin: 15px 0;
      }
      span {
        color: #c7c7c7;
        font-size: 13px;
        &:before {
          display: inline-block;
          margin-right: 10px;
          width: 18px;
          height: 18px;
          content: '';
          background: url(@nippon-icon);
        }
        &.slash {
          margin-left: 25px;
          margin-right: 5px;
          &:before {display: none;}
        }
        &.name {
          &:before {
            background-position: -30px 1px;
          }
        }
        &.tag {
          &:before {
            background-position: -60px 1px;
          }
        }
        &.comment {
          &:before {
            background-position: -90px 1px;
          }
        }
        @media (max-width: @screen-xs-max) {
          display: block;
          float: left;
          margin-right: 10px;
          &.slash {display: none;}
        }
      }
    }
  }
}

.support-block {
  .clearfix();
  // max-width: 900px;
  margin: 0 auto;
  .icolor, .isubmit, .imix {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    @media (min-width: @screen-sm) {
      float: left;
      width: 33.33%;
      margin-bottom: 0;
    }
    .thumbnail {
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    .content {
      position: absolute;
      left: 5%;
      right: 5%;
      bottom: 5%;
      height: 300px;
      padding: 40px 30px;
      background: rgba(0, 0, 0, 0.75);
      @media (max-width: @screen-md-max) {
        padding: 20px;
        height: 250px;
      }
      @media (max-width: @screen-sm-max) {
        height: 170px;
      }
      @media (max-width: @screen-xs-max) {
        height: auto;
      }
      h3 {
        color: #ee242d;
        font-size: 65px;
        @media (max-width: @screen-md-max) {
          font-size: 50px;
        }
        @media (max-width: @screen-sm-max) {
          font-size: 40px;
        }
        @media (max-width: @screen-xs-max) {
          font-size: 50px;
        }
      }
      p, a {
        font-size: 24px;
        color: #676767;
        text-transform: uppercase;
        font-weight: bold;
        @media (max-width: @screen-md-max) {
          font-size: 20px;
        }
        @media (max-width: @screen-sm-max) {
          font-size: 15px;
        }
        @media (max-width: @screen-xs-max) {
          font-size: 20px;
        }
      }
      a {
        color: #b9b9b9;
        &:hover {
          color: lighten(#b9b9b9, 10%);
        }
      }
      img {
        position: absolute;
        right: 30px;
        top: 50%;
        height: 160px;
        margin-top: -80px;
        @media (max-width: @screen-md-max) {
          right: 20px;
          height: 120px;
          margin-top: -60px;
        }
        @media (max-width: @screen-sm-max) {
          height: 80px;
          margin-top: -40px;
        }
        @media (max-width: @screen-xs-max) {
          height: 100px;
          margin-top: -50px;
        }
      }
    }
  }
}

.distributor-block {
  padding: 150px 0;
  text-align: center;
  @media (max-width: @screen-md-max) {
    padding: 100px 0;
  }
  @media (max-width: @screen-sm-max) {
    padding: 70px 0;
  }
  @media (max-width: @screen-xs-max) {
    padding: 35px 0;
  }
  .map {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 60%;
    background: #eee;
    @media (max-width: @screen-sm-max) {
      margin-right: 0;
      width: 50%;
      display: block;
      float: left;
    }
    @media (max-width: @screen-xs-max) {
      margin: 0;
      width: 100%;
    }
  }
  #distributor-map {
    height: 630px;
    @media (max-width: @screen-sm-max) {
      height: 500px;
    }
    @media (max-width: @screen-xs-max) {
      height: 400px;
      margin-bottom: 15px;
    }
  }
  .distributor-filter {
    display: inline-block;
    text-align: left;
    width: 30%;
    @media (max-width: @screen-sm-max) {
      width: 48%;
      display: block;
      float: right;
    }
    @media (max-width: @screen-xs-max) {
      width: auto;
    }
    .title {
      display: block;
      color: white;
      background: #ee242d;
      text-transform: uppercase;
      text-align: center;
      font-size: 18px;
      line-height: 44px;
      @media (max-width: @screen-sm-max) {
        font-size: 15px;
        line-height: 30px;
      }
    }
    .dropdown {
      position: relative;
      margin-top: 5px;
      width: 100%;
      .btn {
        width: 100%;
        line-height: 44px;
        text-transform: uppercase;
        text-align: left;
        @media (max-width: @screen-sm-max) {
        line-height: 30px;
        }
      }
      .caret {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -6px;
        border-style: solid;
        border-width: 11px 8px 0 8px;
        border-color: #acacac transparent transparent transparent;
        @media (max-width: @screen-sm-max) {
          margin-top: -3px;
          border-width: 8px 6px 0 6px;
        }
      }
      .dropdown-menu {
        right: 0;
        margin: 0;
        border-radius: 0;
      }
    }
    .result {
      margin-top: 5px;
      padding: 40px 30px;
      border: 1px solid #adadad;
      height: 393px;
      overflow-y: auto;
      @media (max-width: @screen-sm-max) {
        padding: 20px;
        font-size: 13px;
        line-height: normal;
      }
      .item {
        margin-bottom: 10px;
      }
    }
  }
}

.contact-block {
  #contact-map {
    height: 440px;
    @media (max-width: @screen-sm-max) {
      height: 250px;
    }
  }
  .red-heading {
    margin: 40px 0 30px;
    text-align: center;
    font-size: 27px;
    @media (max-width: @screen-sm-max) {
      margin: 20px 0;
      font-size: 18px;
    }
  }
  .contact-list {
    .panel,
    .panel-heading,
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
      padding: 0;
      border: none;
      background: none;
      border-radius: 0;
      box-shadow: none;
      font-size: 13px;
    }
    .panel-title {
      .clearfix();
      a,
      &:before {
        display: block;
        border: 1px solid #e1e1e1;
        border-radius: 6px;
      }
      a {
        margin-left: 47px;
        padding: 0 20px;
        color: #868686;
        line-height: 40px;
        font-size: 13px;
        font-weight: bold;
        &:visited { color: #868686; }
      }
      &:before {
        float: left;
        width: 40px;
        color: #e1e1e1;
        content: '+';
        font-size: 18px;
        line-height: 40px;
        text-align: center;
      }
      &:hover {
        a,
        &:before {
          background: #f2f2f2;
        }
      }
    }
    .panel-collapse {
      margin-top: 3px;
      padding: 20px;
      border: 1px solid #e1e1e1;
      border-radius: 6px;
    }
  }
  .contact-form {
    @media (max-width: @screen-xs-max) {
      .clearfix();
      padding-bottom: 15px;
      & > .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .form-control {
      width: 100%;
      margin-bottom: 3px;
      padding: 0 15px;
      border-radius: 6px;
      border: 1px solid #e1e1e1;
      font-size: 14px;
      line-height: 40px;
    }
    .btn-container {
      margin-top: 10px;
      text-align: right;
      @media (max-width: @screen-xs-max) {
        text-align: center;
      }
    }
    .btn {
      margin-left: 10px;
      padding: 0 60px;
      border-radius: 6px;
      border: 1px solid #e1e1e1;
      font-size: 14px;
      line-height: 40px;
      background: #e0e0e0;
      &:hover {
        background: #eee;
      }
      @media (max-width: @screen-sm-max) {
        padding: 0 30px;
      }
    }
  }
}

.testimonial-block {
  padding: 175px 0 85px 0;
  background: #f5f5f7;
  @media (max-width: @screen-md-max) {
    padding: 100px 0;
  }
  @media (max-width: @screen-sm-max) {
    padding: 70px 0;
  }
  @media (max-width: @screen-xs-max) {
    padding: 35px 0;
  }
  .item {
    margin-bottom: 65px;
    @media (max-width: @screen-xs-max) {
      margin-bottom: 35px;
    }
  }
  h3, p {
    font-size: 15px;
    line-height: normal;
  }
  h3 {
    margin-bottom: 25px;
    font-weight: bold;
    @media (max-width: @screen-xs-max) {
      margin-bottom: 10px;
      font-size: 13px;
    }
  }
  p {
    text-align: justify;
    @media (max-width: @screen-xs-max) {
      font-size: 13px;
    }
  }
}
@media (max-width: 768px){
  .color-block .color-item .thumbnail img {
    max-width: 100%;
  }
  .inspiration-block {
    article {
      .thumbnail {
        position: relative;
      }
    }
  }
  .color-block {
    .color-item {
      .thumbnail { height: 100%; }
    }
  }
}

.inspiration-items {
	.item {
		margin-bottom: 44px;
	}
}

.trend-detail {
	margin-bottom: 78px;
	.title {
		margin-top: 43px;
	}
	.desc {
		padding: 5px 0;
	}
}

.color-my-world.intro {
	width: 100%;
	background-color: #f5f5f7;
	color: #000;
	padding: 45px 0;
	h1.title {
		padding-bottom: 35px;
		text-transform: uppercase;
	}
}
.color-my-world.detail {
	.item {
		margin-bottom: 37px;
	}
}

.color-fortune.intro {
	width: 100%;
	background-color: #d85529;
	color: #fff;
	.intro-text {
		padding-top: 40px;
		h1.title {
			margin-bottom: 5px;
			font-weigh: normal;
			text-transform: uppercase;
		}
	}
}

.color-fortune.detail {
	margin: 55px 0;
	.detail-title {
		font-size: 2em;
		margin-bottom: 40px;
		text-transform: uppercase;
	}
	.separate {
		border-top: 1px solid #b8b8b8;
		margin: 55px 0;
		span.text {
			display: block;
			background-color: #fff;
			padding: 5px 8px;
			font-size: 1.5em;
			text-transform: uppercase;
			position: absolute;
			left: 48%;
			bottom: -14px;
		}
	}
}

.color-fortune-list {
	.panel.panel-default {
		margin-top: 0;
	}
	.panel-default, .panel-heading{
		border: none;
		border-radius: 0;
	}
	.panel-heading {
		background-color: #dcdcdc;
	}
	.panel-body {
		
	}
}

.bwWrapper {
    position:relative;
    display:block;
}

.gototop-button {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 200;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  line-height: 55px;
  color: #C4C4C4;
  text-align: center;
  font-size: 24px;
  border: 1px solid;
  &:hover,&:focus {
    background: rgba(255, 255, 255, 0.7);
    color: black;
  }
}

.recommended-colour-schemes {
  margin-bottom: 40px;
  @media (max-width: @screen-xs-max) {
    margin-bottom: 20px;
  }
  .clearfix();
  h3 {
    margin-bottom: 35px;
    font-size: 20px;
    color: #545454;
    @media (max-width: @screen-xs-max) {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }
  .schemes-container {
    .clearfix();
    .scheme {
      margin-bottom: 15px;
      overflow: hidden;
      @media (min-width: @screen-sm) {
        float: left;
        width: 50%;
        &:nth-child(2n) {
          float: right;
        }
      }
      @media (min-width: @screen-lg) {
        width: 33%;
        margin-right: 0.5%;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .main {
      float: left;
      width: 170px;
      height: 170px;
      margin-right: 5px;
      overflow: hidden;
      border-radius: 15px;
      border: 5px solid #aaa;
      @media (max-width: @screen-xs-max) {
        width: 110px;
        height: 110px;
        border-width: 3px;
        margin-right: 10px;
      }
      .primary {
        width: 100%;
        height: 60%;
        img {
          height: 100%;
        }
      }
      .complementary1,
      .complementary2 {
        height: 40%;
        width: 50%;
        float: left;
      }
    }
    .info {
      float: left;
      .item {
        overflow: hidden;
        margin-top: 5px;
        margin-bottom: 10px;
        @media (max-width: @screen-xs-max) {
          margin-top: 0;
        }
      }
      .color {
        float: left;
        width: 45px;
        height: 45px;
        margin-right: 10px;
        overflow: hidden;
        @media (max-width: @screen-xs-max) {
          width: 30px;
          height: 30px;
        }
      }
      p {
        float: left;
        font-weight: bold;
        @media (max-width: @screen-xs-max) {
          font-size: 12px;
        }
      }
    }
  }
}
