// Fontface
@font-face {
  font-family: 'fontawesome';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesome') format('svg');
}

@font-face {
  font-family: 'NipponPaintVietnam';
  src: url('../fonts/NipponPaintVietnam.eot?#iefix') format('embedded-opentype'),  url('../fonts/NipponPaintVietnam.woff') format('woff'), url('../fonts/NipponPaintVietnam.ttf')  format('truetype'), url('../fonts/NipponPaintVietnam.svg#NipponPaintVietnam') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NipponPaintVietnam';
  src: url('../fonts/NipponPaintVietnam-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/NipponPaintVietnam-Bold.woff') format('woff'), url('../fonts/NipponPaintVietnam-Bold.ttf')  format('truetype'), url('../fonts/NipponPaintVietnam-Bold.svg#NipponPaintVietnam-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
