// Page
.color-page {
  .color-nav {
    text-align: center;
    @media (max-width: @screen-xs-max) {
      margin-bottom: 25px;
    }
    li {
      position: relative;
      display: inline-block;
      margin-bottom: 15px;
      padding: 15px 0;
      @media (max-width: @screen-xs-max) {
        display: block;
        margin: 0;
      }
      &.selected {
        &:after {
          position: absolute;
          bottom: -15px;
          left: 50%;
          margin-left: -11px;
          display: block;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 22px 22px 22px;
          border-color: transparent transparent #e0e0e0 transparent;
          @media (max-width: @screen-sm-max) {
            display: none;
          }
        }
      }
      a {
        color: #000;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
        &:after {
          margin: 0 10px;
          content: '|';
          font-weight: normal;
          color: #000;
        }
        @media (max-width: @screen-xs-max) {
          font-size: 15px;
          &:after {
            display: none;
          }
        }
      }
      &.active,
      &:hover {
        a {
          color: #ed1b24;
        }
      }
      &:last-of-type {
        a:after {
          display: none;
        }
      }
    }
  }
  .color-sub-nav {
    margin-left: -15px;
    margin-right: -15px;
    padding: 25px 0;
    background: #e0e0e0;
    text-align: center;
    @media (max-width: @screen-xs-max) {
      padding: 12px 0;
    }
    a {
      display: inline-block;
      margin: 0 10px;
      padding: 25px 0;
      width: 160px;
      text-transform: uppercase;
      color: #000;
      border: 1px solid;
      border-radius: 3px;
      font-size: 24px;
      &:hover,
      &.active {
        background: #ed1b24;
        color: #fff;
        border-color: #ed1b24;
      }
      @media (max-width: @screen-xs-max) {
        padding: 12px;
        width: auto;
        font-size: 15px;
      }
    }
  }
  .card-list {
    margin-top: 65px;
    text-align: center;
    .card-item {
      display: inline-block;
      margin: 0 25px 45px 0;
      text-align: center;
      @media (max-width: @screen-xs-max) {
        margin: 0 auto 30px;
      }
      .image {
        position: relative;
        width: 365px;
        height: 365px;
        background: url('../images/card-item-bg.jpg');
        background-size: cover;
        img {
          width: 100%;
          height: 100%;
        }
        @media (max-width: @screen-xs-max) {
          width: 290px;
          height: 290px;
        }
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          content: '';
          background: url('../images/card-item-hover.png');
          background-size: cover;
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }
      .title {
        margin-top: 30px;
        font-size: 24px;
        color: #000;
        @media (max-width: @screen-xs-max) {
          margin-top: 15px;
          font-size: 18px;
        }
        &:hover {
          color: #ed1b24;
        }
      }
      .desc {
        font-size: 14px;
        color: #828282;
      }
    }
  }
  .load-more-btn {
    display: block;
    margin: 70px auto 50px;
    padding: 30px 65px;
    width: 260px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid;
    border-radius: 3px;
    font-size: 24px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    &:hover {
      background: #ccc;
      border-color: #ccc;
    }
    @media (max-width: @screen-xs-max) {
      margin: 30px auto;
      padding: 15px 30px;
      width: 100%;
      font-size: 18px;
    }
  }
  .room-list-nav {
    margin: 55px 0 45px;
    overflow: hidden;
    @media (max-width: @screen-xs-max) {
      margin: 25px 0;
    }
    a {
      font-size: 18px;
      color: #9a9a9a;
      line-height: 24px;
      &:hover,
      &.active {
        color: #ed1c24;
      }
      @media (max-width: @screen-xs-max) {
        font-size: 15px;
      }
    }
    ul {
      float: left;
      @media (max-width: @screen-xs-max) {
        overflow: hidden;
        float: none;
      }
      li {
        display: block;
        float: left;
        @media (max-width: @screen-xs-max) {
          width: 50%;
          a:after {
            display: none;
          }
        }
        a {
          &:after {
            margin: -2px 5px 0;
            content: '|';
            color: #000;
          }
        }
      }
    }
    .back-btn {
      float: left;
      display: block;
      @media (min-width: @screen-md) {
        float: right;
      }
      @media (max-width: @screen-sm-max) {
        margin-top: 15px;
      }
      &:before {
        margin-right: 5px;
        content: '◄';
        color: #000;
      }
    }
  }
  .room-container {
    margin-bottom: 40px;
    @media (max-width: @screen-xs-max) {
      margin-bottom: 20px;
    }
    font-size: 0;
    .room {
      position: relative;
      display: inline-block;
      margin: 0 2px;
      width: 120px;
      height: 455px;
      overflow: hidden;
      img {
        height: 100%;
      }
      .info {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 120px;
        padding: 35px 30px;
        background: rgba(0, 0, 0, 0.64);
        text-align: left;
        p {
          white-space: nowrap;
          color: #fff;
          &.title {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
            &:after {
              content: '►';
              margin-left: 5px;
            }
          }
          &.desc {
            border-top: 1px dotted;
            font-size: 14px;
          }
        }
      }
    }
  }
  .room-detail-container {
    .clearfix();
    margin-bottom: 40px;
    @media (max-width: @screen-xs-max) {
      margin-bottom: 20px;
    }
    .thumbnail {
      @media (min-width: @screen-md) {
        float: left;
        margin-right: 15px;
        max-width: 50%;        
      }
      @media (min-width: @screen-lg) {
        max-width: 59%;        
      }
      @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
        img {
          width: 100%;
        }
      }
      @media (max-width: @screen-sm-max) {
        text-align: center;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
    .color-select-container {
      margin-top: 15px;
      @media (min-width: @screen-md) {
        float: left;
        margin-top: 0;
        width: 482px;
      }
      @media (min-width: @screen-lg) {
        width: 415px;
      }
    }
  }
  .color-select-container {
    &.color-chip {
      margin: 20px auto;
      max-width: 910px;
    }
    h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      @media (max-width: @screen-xs-max) {
        font-size: 15px;
      }
    }
    .desc {
      margin: 10px 0;
      color: #969696;
      font-size: 12px;
    }
    .color-bar {
      .clearfix();
      .color-group {
        float: left;
        position: relative;
        font-size: 0;
        width: 20%;
        @media (max-width: @screen-xs-max) {
          width: 50%;
          margin-bottom: 15px;
        }
        &:before,
        &:after {
          position: absolute;
          display: block;
          content: '';
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }
        &:before {
          top: -5px;
          left: -5px;
          bottom: -5px;
          right: -5px;
          z-index: 1;
          border: 5px solid #fff;
          border-radius: 2px;
          -webkit-box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.2);
          -moz-box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.2);
          box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.2);
        }
        &:after {
          z-index: 2;
          bottom: -12px;
          left: 50%;
          margin-left: -7px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 7.5px 0 7.5px;
          border-color: #fff transparent transparent transparent;
        }
        &:hover,
        &.active {
          cursor: pointer;
          &:before,
          &:after {
            opacity: 1;
          }
        }
      }
      span {
        display: inline-block;
        width: 33.33%;
        height: 25px;
      }
    }
    .color-detail-container {
      margin-top: 20px;
      // overflow: hidden;
      .item {
        position: relative;
        display: block;
        float: left;
        margin-bottom: 14px;
        @media (max-width: @screen-xs-max) {
          &:nth-child(2n) {
            float: right;
            margin-right: 0;
          }
        }
        @media (min-width: @screen-sm) and (max-width: @screen-sm-max){
          width: 19%;
          margin-right: 1.25%;
          &:nth-child(5n) {
            margin-right: 0;
          }
        }
        @media (min-width: @screen-md) {
          width: 30%;
          margin-right: 5%;
          &:nth-child(3n) {
            margin-right: 0;
          }
        }
        &:hover {
          .info {
            opacity: 1;
            display: block;
          }
        }
        .color-code {
          // width: 130px;
          width: 100%;
          height: 65px;
          @media (min-width: @screen-sm) and (max-width: @screen-md-max){
            width: 100%;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .info {
          position: absolute;
          top: -13px;
          left: -13px;
          right: -13px;
          z-index: 1;
          border: 13px solid #fff;
          -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
          -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
          box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
          opacity: 0;
          display: none;
          transition: all 0.2s ease-in-out;
          p {
            background: #fff;
            color: #000;
          }
          .title {
            margin-top: 78px;
          }
        }
      }
      .color-detail-block {
        h4 {
          line-height: 3em;
        }
      }
      .primary-color-code {
        height: 80px;
      }
      .complementary-color-code {
        height: 30px;
      }
      .color-suggestion {
        margin-bottom: 15px;
        padding: 10px 15px;
        border: 1px solid #bebebe;
        border-radius: 7px;
        p {
          margin: 5px 0;
          color: #545454;
          font-weight: bold;
        }
        .suggest-color-code {
          border: 1px solid #bebebe;
          height: 20px;
        }
      }
    }
    .color-6-box-wrapper {
      margin: 20px 0;
      padding: 10px 10px;
      background-color: #f8f8f8;
      border: #e1e1e1 1px solid;
      border-radius: 5px;
      .popular-color {
        color: #666;
        font-size: 12px;
        font-weight: bold;
      }
      ul li {
        position: relative;
        float: left;
        display: block;
        width: 16%;
        height: 50px;
        margin: 10px 0.8% 0 0;
        &:hover {
          .color-cube-roll {
            opacity: 1;
          }
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          > div {
            width: 100%;
            height: 100%;
          }
        }
        .color-cube-roll {
          position: absolute;
          top: -10px;
          left: 0;
          box-shadow: 0px 0px 7px #666;
          border: solid 5px #FFF;
          height: auto;
          background-color: #fff;
          margin: 5px 0 0 -5px;
          opacity: 0;
          width: 100%;
          box-sizing: content-box;
          transition: opacity 0.2s ease-in-out;
          .color-cube {
            background: #000;
            height: 50px;
          }
          .color-name {
            color: #3f3f3f;
            margin: 5px 0 0 0;
            font-weight: bold;
            font-size: 11px;
          }
        }
      }
    }
    .color-5-box-wrapper {
      padding: 10px;
      ul {
        padding: 0 10px;
        li {
          float: left;
          width: auto;
          height: auto;
          margin: auto;
          &:hover {
            .color-cube-roll {
              opacity: 1;
            }
          }
          a {
            float: left;
            width: 170px;
            height: 50px;
            margin: 10px 10px 0 0;
            > div {
              height: 100%;
              width: 100%;
            }
          }
          .color-cube-roll {
            box-shadow: 0px 0px 7px #666;
            border: solid 5px #FFF;
            height: auto;
            background-color: #fff;
            margin: 5px 0 0 -5px;
            position: absolute;
            opacity: 0;
            width: 170px;
            box-sizing: content-box;
            .color-cube {
              background: #000;
              width: 170px;
              height: 50px;
            }
            .color-name {
              color: #3f3f3f;
              margin: 5px 0 0 0;
              font-weight: bold;
              font-size: 11px;
            }
          }
        }
      }
      .desc {
        position: absolute;
        bottom: 33px;
        left: 0;
        color:#949494;
        font-size:14px;
      }
    }
  }
  .social-share {
    float: right;
    @media (max-width: @screen-xs-max) {
      clear: both;
    }
    a {margin-left: 7px;}
  }
}

.color-chip-container {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  > div {
    overflow: hidden;
    margin-bottom: 30px;
    @media (min-width: @screen-sm){
      height: 250px;
    }
    @media (min-width: @screen-md) {
      height: 300px;
    }
    @media (min-width: @screen-lg) {
      height: 400px;
    }
  }
  .desc {
    font-style: italic;
    clear: both;
  }
  .color-chip-detail {
    position: relative;
    @media (min-width: @screen-sm) {
      float: left;
      width: 50%;
    }
    .color-img {
      width: 100%;
    }
    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      height: 100px;
      padding-left: 25px;
      padding-top: 25px;
      font-size: 24px;
      font-weight: bold;
      z-index: 1;
      color: #fff;
      text-transform: uppercase;
      background: rgba(0, 0, 0, 0.7);
      @media (max-width: @screen-sm-max) {
        height: 50px;
        padding-top: 15px;
        padding-left: 15px;
        font-size: 15px;
      }
    }
    .social-share {
      position: absolute;
      float: none;
      bottom: 30px;
      right: 30px;
      z-index: 2;
      @media (max-width: @screen-xs-max) {
        display: none;
      }
      @media (max-width: @screen-sm-max) {
        bottom: 5px;
        right: 5px;
      }
    }
  }
  .thumbnail {
    @media (min-width: @screen-sm) {
      float: left;
      width: 50%;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
