/* Slick Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';

.slick-loading {
  .slick-list {
    background: #ffffff url('./ajax-loader.gif') center center no-repeat;
  }
}
@font-face {
  font-family: 'slick';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
  src: url('../fonts/slick.eot');
}
.slick-prev {
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  left: -25px;
  line-height: 0;
  margin-top: -10px;
  outline: none;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 20px;
  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: white;
    content: '←';
    // font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
  }
}
.slick-next {
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  margin-top: -10px;
  outline: none;
  padding: 0;
  position: absolute;
  right: -25px;
  top: 50%;
  width: 20px;
  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: white;
    content: '→';
    // font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
  }
}
// .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus  {
//   background: transparent;
//   color: transparent;
//   outline: none;
// }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before  {
  opacity: 1;
}
.slick-prev.slick-disabled {
  &:before {
    opacity: .25;
  }
}
.slick-next.slick-disabled {
  &:before {
    opacity: .25;
  }
}
[dir='rtl'].slick-prev {
  left: auto;
  right: -25px;
  &:before {
    content: '→';
  }
}
[dir='rtl'].slick-next {
  left: -25px;
  right: auto;
  &:before {
    content: '←';
  }
}
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  bottom: -45px;
  display: block;
  list-style: none;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  li {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    position: relative;
    width: 20px;
    button {
      background: transparent;
      border: 0;
      color: transparent;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 20px;
      line-height: 0;
      outline: none;
      padding: 5px;
      width: 20px;
      &:hover {
        outline: none;
        before {
          opacity: 1;
        }
      }
      &:focus {
        outline: none;
        before {
          opacity: 1;
        }
      }
      &:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        color: black;
        content: '•';
        font-family: 'slick';
        font-size: 6px;
        height: 20px;
        left: 0;
        line-height: 20px;
        opacity: .25;
        position: absolute;
        text-align: center;
        top: 0;
        width: 20px;
      }
    }
  }
  li.slick-active {
    button {
      &:before {
        color: black;
        opacity: .75;
      }
    }
  }
}

/* End Slick Slider */

//
// Dropdown menus
// --------------------------------------------------

// Dropdown arrow/caret
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top:   @caret-width-base dashed;
  // border-top:   @caret-width-base solid ~"\9"; // IE8
  border-right: @caret-width-base solid transparent;
  border-left:  @caret-width-base solid transparent;
}

// The dropdown wrapper (div)
.dropup,
.dropdown {
  position: relative;
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
  outline: 0;
}

// The dropdown menu (ul)
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: @zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0; // override default ul
  list-style: none;
  font-size: @font-size-base;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: @dropdown-bg;
  border: 1px solid @dropdown-fallback-border; // IE8 fallback
  border: 1px solid @dropdown-border;
  border-radius: @border-radius-base;
  // .box-shadow(0 6px 12px rgba(0,0,0,.175));
  background-clip: padding-box;

  // Aligns the dropdown menu to right
  //
  // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
  &.pull-right {
    right: 0;
    left: auto;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
    // .nav-divider(@dropdown-divider-bg);
  }

  // Links within the dropdown menu
  > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: @line-height-base;
    color: @dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }
}

// Hover/Focus state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: @dropdown-link-hover-color;
    background-color: @dropdown-link-hover-bg;
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: @dropdown-link-active-color;
    text-decoration: none;
    outline: 0;
    background-color: @dropdown-link-active-bg;
  }
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.dropdown-menu > .disabled > a {
  &,
  &:hover,
  &:focus {
    color: @dropdown-link-disabled-color;
  }

  // Nuke hover/focus effects
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none; // Remove CSS gradient
    // .reset-filter();
    cursor: @cursor-disabled;
  }
}

// Open state for the dropdown
.open {
  // Show the menu
  > .dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Menu positioning
//
// Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
// menu with the parent.
.dropdown-menu-right {
  left: auto; // Reset the default from `.dropdown-menu`
  right: 0;
}
// With v3, we enabled auto-flipping if you have a dropdown within a right
// aligned nav component. To enable the undoing of that, we provide an override
// to restore the default dropdown menu alignment.
//
// This is only for left-aligning a dropdown menu within a `.navbar-right` or
// `.pull-right` nav component.
.dropdown-menu-left {
  left: 0;
  right: auto;
}

// Dropdown section headers
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: @font-size-small;
  line-height: @line-height-base;
  color: @dropdown-header-color;
  white-space: nowrap; // as with > li > a
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: (@zindex-dropdown - 10);
}

// Right aligned dropdowns
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
//
// Just add .dropup after the standard .dropdown class and you're set, bro.
// TODO: abstract this so that the navbar fixed styles are not placed here?

.dropup,
.navbar-fixed-bottom .dropdown {
  // Reverse the caret
  .caret {
    border-top: 0;
    border-bottom: @caret-width-base dashed;
    // border-bottom: @caret-width-base solid ~"\9"; // IE8
    content: "";
  }
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
}


// Component alignment
//
// Reiterate per navbar.less and the modified component alignment there.

@media (min-width: @grid-float-breakpoint) {
  .navbar-right {
    .dropdown-menu {
      .dropdown-menu-right();
    }
    // Necessary for overrides of the default right aligned menu.
    // Will remove come v4 in all likelihood.
    .dropdown-menu-left {
      .dropdown-menu-left();
    }
  }
}

/*Circle Carousel*/
.edgtf-circle-carousel {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    // visibility: hidden;
    z-index: 50
}

.edgtf-circle-carousel .edgtf-circle-carousel-slider {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    @media (min-width: @screen-sm) {
      height: 480px;
    }
}

.edgtf-circle-carousel .edgtf-circle-carousel-slider img {
    visibility: hidden;
    cursor: pointer;
    max-width: 100%;
}

.edgtf-circle-carousel-navigation {
  @media (min-width: @screen-sm) {
    position: absolute;
    top: 50%;
    left: -80px;
    right: -80px;
    z-index: 99;
    margin-top: -40px;
  }
  @media (max-width: @screen-xs-max) {
    text-align: center;
  }
  > div {
    @media (min-width: @screen-sm) {
      position: absolute;
    }
    display: block;
    margin: 0 10px;
    text-align: center;
    &.edgtf-prev-icon-holder {
      left: -80px;
      @media (max-width: @screen-md-max) {
        left: -60px;
      }
      @media (max-width: @screen-sm-max) {
        left: -30px;
      }
    }
    &.edgtf-next-icon-holder {
      right: -80px;
      @media (max-width: @screen-md-max) {
        right: -60px;
      }
      @media (max-width: @screen-sm-max) {
        right: -30px;
      }
    }
    @media (max-width: @screen-xs-max) {
      display: inline-block;
      left: auto;
      right: auto;
      margin: 0 10px;
    }
  }
  .edgtf-circle-carousel-icon {
    display: block;
    width: 80px;
    height: 80px;
    @media (max-width: @screen-md-max) {
      width: 60px;
      height: 60px;
    }
    @media (max-width: @screen-sm-max) {
      width: 50px;
      height: 50px;
    }
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    z-index: 1;
    transition: all 0.2s ease;
    &:before {
      color: #bdbdbd;
      font-size: 50px;
      line-height: 80px;
      font-family: 'fontawesome';
      transition: all 0.2s ease;
      @media (max-width: @screen-md-max) {
        line-height: 60px;
      }
      @media (max-width: @screen-sm-max) {
        font-size: 40px;
        line-height: 50px;
      }
    }
    &:hover {
      border-color: darken(#bdbdbd, 10%);
      &:before {
        color: darken(#bdbdbd, 10%);
      }
    }
  }
  .arrow_left {
    &:before {
      content: '\f104';
    }
  }
  .arrow_right {
    &:before {
      content: '\f105';
    }
  }
}



@media only screen and (max-width:1440px) {
    .edgtf-circle-carousel .edgtf-circle-carousel-slider {
        width: 90%;
        margin: 0 auto;
        display: block
    }
}

@media only screen and (max-width: @screen-xs-max) {
    .edgtf-circle-carousel {
        visibility: visible
    }

    .edgtf-circle-carousel .edgtf-circle-carousel-slider {
        width: 80%
    }

    .edgtf-message {
        padding: 16px 20px 16px 35px
    }
}

/*Overall CSS for each Horizontal Accordion.
  Most settings should be kept as it.
  Customize each Accordion by styling each Accordion's ID attribute instead.
*/

.haccordion {
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  li {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    float: left;
    .hpanel {
      width: 100%;
      height: 200px;
    }
  }
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
  overflow: hidden;
  position: relative;
}

.jspPane
{
  position: absolute;
}

.jspVerticalBar
{
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background: red;
}

.jspHorizontalBar
{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 19px;
  width: 100%;
  background: none;
}

.jspCap
{
  display: none;
}

.jspHorizontalBar .jspCap
{
  float: left;
}

.jspTrack
{
  background: #dde;
  position: relative;
}

.jspDrag
{
  background: #000;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
  float: left;
  height: 100%;
}

.jspHorizontalBar .jspTrack {
  background: url('../images/HorizontalscrollBar.png') repeat-x;
  position: relative;
}

.jspArrow
{
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.jspArrow.jspDisabled
{
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow
{
  height: 16px;
}

.jspHorizontalBar .jspArrow
{
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
  outline: none;
}

.jspCorner
{
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
  margin: 0 -3px 0 0;
}
