// Structure
body {
  padding-top: 142px;
  @media (max-width: @screen-md-max) {
    padding-top: 127px;
  }
  @media (max-width: @screen-sm-max) {
    padding-top: 112px;
  }
  @media (max-width: @screen-xs-max) {
    padding-top: 99px;
  }
}
.container {
  .clearfix();
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.page .container {
	max-width: 1200px;
}

.outer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  .clearfix();
}
main {
  min-height: 500px;
}
