footer
  .red-title Cảm ơn bạn đã liên hệ Nippon Paint Việt Nam
  .container
    .outer
      .row
        .col-xs-12.col-sm-6.col-lg-3
          .footer-module.product-module
            h3.heading3 Sản phẩm bán chạy
            ul
              li
                .thumbnail
                  +link('Nippon1','#', '')
                    +img('San pham 1', 'images/banchay1.jpg').color
                    +img('San pham 1', 'images/banchay1-b.jpg').black
              li
                .thumbnail
                  +link('Nippon1','#', '')
                    +img('San pham 1', 'images/banchay1.jpg').color
                    +img('San pham 1', 'images/banchay1-b.jpg').black
              li
                .thumbnail
                  +link('Nippon1','#', '')
                    +img('San pham 1', 'images/banchay1.jpg').color
                    +img('San pham 1', 'images/banchay1-b.jpg').black
        .col-xs-12.col-sm-6.col-lg-3
          .footer-module.news-module
            h3.heading3 Tin tức
            ul
              li              
                p
                  +link('Chưa thử sức thì sao biết được hết khả năng của bạn', '#')(class='title white-link')
                p.time September 7, 2015
              li
                p
                  +link('Sáng tạo, bừng cháy sức mạnh bên trong', '#')(class='title white-link')
                p.time September 7, 2015
              li
                p
                  +link('Một vòng trải nghiệm các không gian làm việc chung ở Sài Gòn', '#')(class='title white-link')
                p.time September 7, 2015
              li
                p
                  +link('Chưa thử sức thì sao biết được hết khả năng của bạn', '#')(class='title white-link')
                p.time September 7, 2015
              li
                p
                  +link('Chưa thử sức thì sao biết được hết khả năng của bạn', '#')(class='title white-link')
                p.time September 7, 2015
        .col-xs-12.col-sm-6.col-lg-3
          .footer-module.height-auto
            h3.heading3 Tag
            ul.tag-list
              li
                +link('audio', '#')(class='white-link')
              li
                +link('gallery', '#')(class='white-link')
              li
                +link('image', '#')(class='white-link')
              li
                +link('music', '#')(class='white-link')
              li
                +link('photo', '#')(class='white-link')
              li
                +link('quote', '#')(class='white-link')
              li
                +link('text', '#')(class='white-link')
              li
                +link('video', '#')(class='white-link')
              li
                +link('vimeo', '#')(class='white-link')
              li
                +link('youtube', '#')(class='white-link')
          .footer-module.height-auto
            h3.heading3 Thông tin liên hệ
            h5.heading5 Nhà máy Biên Hòa
            p 14 Đường 3A, KCN Biên Hòa 2, Đồng Nai, Việt Nam
            p Tel: (84) 61 383 6579 – 383 6586 (8 lines)
            p Fax: (84) 61 383 6346 – 383 6349
            br
            h5.heading5 Chi nhánh Hồ Chí Minh
            p 14 Đường 3A, KCN Biên Hòa 2, Đồng Nai, Việt Nam
            p Tel: (84) 61 383 6579 – 383 6586 (8 lines)
            p Fax: (84) 61 383 6346 – 383 6349

        .col-xs-12.col-sm-6.col-lg-3
          .footer-module
            h3.heading3 Mạng xã hội
            //.fb-page(data-href='https://www.facebook.com/baovengoinhachung', data-tabs='timeline', data-height='450', data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
              //.fb-xfbml-parse-ignore
                //blockquote(cite='https://www.facebook.com/baovengoinhachung')
                  //a(href='https://www.facebook.com/baovengoinhachung') Nippon - Bảo vệ ngôi nhà chung
    nav.footer-menu
      +nav([
        {title: 'Inspriration', href: '#'},
        {title: 'Color', href: '#'},
        {title: 'Products', href: '#'},
        {title: 'Tip & Tool', href: '#'},
        {title: 'Tin tức', href: '#'},
        {title: 'Tuyển dụng', href: '#'},
        {title: 'Liên hệ', href: '#'}])
  p.copyright Copyright &copy; 2015 
    +link('Nippon', 'index.html')
    |  | All Rights Reserved
    
a.gototop.gototop-button(href='#')
  i.fa.fa-arrow-up
