include ../mixins/all

header
  nav.navbar.navbar-default.navbar-fixed-top
    .header-menu
      .container
        .top-menu.pull-left
          ul
            li
              +link('Giới thiệu', '#')
            li
              +link('Đại lý', '#')
        .pull-right
          .social-block.pull-left
            ul
              li
                a(title='Facebook', href='#').fb-icon
              li
                a(title='Twitter', href='#').tw-icon
              li
                a(title='Dribbble', href='#').drib-icon
              li
                a(title='Pinterest', href='#').pin-icon
              li
                a(title='Linkedin', href='#').insta-icon
              li
                a(title='Rss', href='#').rss-icon
          .lang-block.pull-left
            ul
              li
                a(title='Eng', href='#') Eng
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          //- span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        +link('Logo', 'index.html').logo
          +img('Nippon Paint', 'images/nippon-logo.png')
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li.current
            a(href='#').home
          li
            a(href='#inspriration-block') Inspriration
          li
            a(href='#color-block') Color
          li.dropdown
            a.dropdown-toggle(href='#product-block', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              | Products 
              span.caret
            ul.dropdown-menu.in
              li
                +link('Nội thất', '#')
              li
                +link('Ngoại thất', '#')
              li
                +link('Momento Products', '#')
              li
                +link('Search', '#')
          li
            a(href='#support-block') Tip & Tool
          li
            a(href='#news-block') Tin tức
          li
            a(href='#') Tuyển dụng
          li
            a(href='#contact-block') Liên hệ
