.recommended-colour-schemes
  h3 RECOMMENDED COLOUR SCHEMES
  .schemes-container
    .scheme
      .main
        .primary
          +img('Color detail', 'images/color-detail.jpg')
        .complementary1(style='background: #e4d28a')
        .complementary2(style='background: #ffce3f')
      .info
        .item
          .color
            +img('Color detail', 'images/color-detail.jpg')
          p LEMON PELL MP 045
        .item
          .color(style='background: #e4d28a')
          p LEMON PELL MP 045
        .item
          .color(style='background: #ffce3f')
          p LEMON PELL MP 045
    .scheme
      .main
        .primary
          +img('Color detail', 'images/color-detail.jpg')
        .complementary1(style='background: #f6f2e2')
        .complementary2(style='background: #ffce3f')
      .info
        .item
          .color
            +img('Color detail', 'images/color-detail.jpg')
          p LEMON PELL MP 045
        .item
          .color(style='background: #f6f2e2')
          p LEMON PELL MP 045
        .item
          .color(style='background: #ffce3f')
          p LEMON PELL MP 045
    .scheme
      .main
        .primary
          +img('Color detail', 'images/color-detail.jpg')
        .complementary1(style='background: #fdffc0')
        .complementary2(style='background: #978b66')
      .info
        .item
          .color
            +img('Color detail', 'images/color-detail.jpg')
          p LEMON PELL MP 045
        .item
          .color(style='background: #fdffc0')
          p LEMON PELL MP 045
        .item
          .color(style='background: #978b66')
          p LEMON PELL MP 045
