nav.room-list-nav
  ul
    li
      +link('LIVING ROOM', '#')
    li
      +link('BED ROOM', '#')
    li
      +link('DINING ROOM', '#')
    li
      +link('STUDY ROOM', '#')
    li
      +link('BABY / KIDS ROOM', '#')
    li
      +link('BATHROOM', '#')
  +link('BACK', '#').back-btn
