extends layouts/layout

block vars
  -title = 'Nippon Paint Vietnam'
  -bodyClass = 'color-page'
  -menuIndex = 0

block container
  main
    section
      .container
        h1.page-heading Color
        ul.color-nav
          li.selected
            +link('Colour shemes for home', 'color-schemes-nav')(data-toggle="collapse", aria-expanded="true", aria-controls="color-schemes-nav")
          li.active
            +link('Colour cards', '#')
          li
            +link('Colour chips', '#')
        .color-sub-nav.collapse.in#color-schemes-nav
          +link('Nội thất', '').active
          +link('Ngoại thất', '')
    section.room-list
      .outer
        .container
          .color-select-container.color-chip
            p.desc Zingy Yellow & Orange
            .color-bar
              .color-group.active
                span(style='background-color: #FFCA3C')
                span(style='background-color: #FFA302')
                span(style='background-color: #FF7900')
              .color-group
                span(style='background-color: #CE0C15')
                span(style='background-color: #F32065')
                span(style='background-color: #E02180')
              .color-group
                span(style='background-color: #1D1E92')
                span(style='background-color: #2C0B80')
                span(style='background-color: #422196')
              .color-group
                span(style='background-color: #82C59A')
                span(style='background-color: #439F92')
                span(style='background-color: #1D757F')
              .color-group
                span(style='background-color: #CCBCBC')
                span(style='background-color: #B1A7A6')
                span(style='background-color: #A5A3A4')
            .color-6-box-wrapper
              p.popular-color Popular Yellows
              ul#popularColourCubeContainer.popular-color-cube-listing(style='height: 60px;')
                  li
                    a.popular-color-cube-0(title="Color chip",href="#")
                      div(style="background:url('images/color/chip/lemon-peel.jpg');")
                    .color-cube-roll.detail-0
                      .color-cube(style="background:url('/images/color/chip/lemon-peel.jpg');")
                        a(title="Color chip",href="#")
                      p.color-name Lemon Peel MP 049
                  li
                    a.popular-color-cube-1(title="Color chip",href="#")
                      div(style='background-color:#E2CD50;')
                    .color-cube-roll.detail-1
                      .color-cube(style='background-color:#E2CD50;')
                        a(title="Color chip",href="#")
                      p.color-name Evergold 1033D
                  li
                    a.popular-color-cube-2(title="Color chip",href="#")
                      div(style='background-color:#CC7750;')
                    .color-cube-roll.detail-2
                      .color-cube(style='background-color:#CC7750;')
                        a(title="Color chip",href="#")
                      p.color-name Firebush 5073D
                  li
                    a.popular-color-cube-3(title="Color chip",href="#")
                      div(style='background-color:#F9994A;')
                    .color-cube-roll.detail-3
                      .color-cube(style='background-color:#F9994A;')
                        a(title="Color chip",href="#")
                      p.color-name Orange Bedder 7073D
                  li
                    a.popular-color-cube-4(title="Color chip",href="#")
                      div(style='background-color:#E97835;')
                    .color-cube-roll.detail-4
                      .color-cube(style='background-color:#E97835;')
                        a(title="Color chip",href="#")
                      p.color-name Orange Torch 254A
                  li
                    a.popular-color-cube-5(title="Color chip",href="#")
                      div(style="background:url('images/color/chip/nova.jpg');")
                    .color-cube-roll.detail-5
                      .color-cube(style="background:url('images/color/chip/nova.jpg');")
                        a(title="Color chip",href="#")
                      p.color-name Nova ME 005
            .color-5-box-wrapper.horizontal-scrollpane
              .scroll(style="width: 1500px; height: 310px;")
                ul.normal-color-cube-listing
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #F6E780;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #EED957;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #EFE284;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #E2CD50;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #EFE284;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #E2CD50;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                        a(title="Color chip", href="#")
                      p.color-name Yellow Pendant 1014T
                  li
                    a.color-cube-0(title="Color chip", href="#")
                      div(style='background-color: #FAE97A;')
                    .color-cube-roll.detail-0
                      .color-cube(style='background-color: #FAE97A;')
                p.desc
                  b Scroll for more colours
