extends layouts/layout

block vars
  -title = 'Nippon Paint Vietnam'
  -bodyClass = 'color-page'
  -menuIndex = 0

block container
  main
    section
      .container
        h1.page-heading Color
        ul.color-nav
          li.selected
            +link('Colour shemes for home', 'color-schemes-nav')(data-toggle="collapse", aria-expanded="true", aria-controls="color-schemes-nav")
          li.active
            +link('Colour cards', '#')
          li
            +link('Colour chips', '#')
        .color-sub-nav.collapse.in#color-schemes-nav
          +link('Nội thất', '').active
          +link('Ngoại thất', '')
    section.room-list
      .outer
        .container
          include blocks/room-list-nav
          .room-detail-container
            .thumbnail
              +img('Living room', 'images/room-detail-img.jpg')
            .color-select-container
              h3 Choose a primary colour for your room
              p.desc Zingy Yellow & Orange
              .color-detail-container
                .color-detail-block
                  +img('Color detail', 'images/color-detail.jpg')
                  h4 Primary Color
                  .primary-color-code(style='background: #e4d28a')
                  h4 Complementary Colour 1
                  .complementary-color-code(style='background: #ffce3f')
                  h4 Complementary Colour 2
                  .color-suggestion
                    p Suggestion for your door colour
                    .suggest-color-code(style='background: #efecce;')
                    p Minted Lemon OW7 1P
              div.social-share
                +link('Love it', '#', '')
                  +img('Love it', 'images/heart-ico.png')
                +link('Tweet it', '#', '')
                  +img('Tweet it', 'images/tw-ico.png')
                +link('Mail to us', '#', '')
                  +img('Mail to us', 'images/mail-ico.png')
          include blocks/recommended-colour-schemes
