extends layouts/layout

block vars
  -title = 'Nippon Paint Vietnam'
  -bodyClass = 'color-page'
  -menuIndex = 0

block container
  main
    section
      .container
        h1.page-heading Color
        ul.color-nav
          li.selected
            +link('Colour shemes for home', 'color-schemes-nav')(data-toggle="collapse", aria-expanded="true", aria-controls="color-schemes-nav")
          li.active
            +link('Colour cards', '#')
          li
            +link('Colour chips', '#')
        .color-sub-nav.collapse.in#color-schemes-nav
          +link('Nội thất', '').active
          +link('Ngoại thất', '')
        ul.card-list
          li.card-item
            +link('Nippon', '#', '')
              .image
                +img('Nippon', 'http://lorempixel.com/365/365')
            +link('Nippon', '#', '')
              p.title Lorem ipsum dolor sit amet
            p.desc Lorem ipsum dolor sit amet
          li.card-item
            +link('Nippon', '#', '')
              .image
                +img('Nippon', 'http://lorempixel.com/365/365')
            +link('Nippon', '#', '')
              p.title Lorem ipsum dolor sit amet
            p.desc Lorem ipsum dolor sit amet
          li.card-item
            +link('Nippon', '#', '')
              .image
            +link('Nippon', '#', '')
              p.title Lorem ipsum dolor sit amet
            p.desc Lorem ipsum dolor sit amet
          li.card-item
            +link('Nippon', '#', '')
              .image
            +link('Nippon', '#', '')
              p.title Lorem ipsum dolor sit amet
            p.desc Lorem ipsum dolor sit amet
          li.card-item
            +link('Nippon', '#', '')
              .image
                +img('Nippon', 'http://lorempixel.com/365/365')
            +link('Nippon', '#', '')
              p.title Lorem ipsum dolor sit amet
            p.desc Lorem ipsum dolor sit amet
          li.card-item
            +link('Nippon', '#', '')
              .image
                +img('Nippon', 'http://lorempixel.com/365/365')
            +link('Nippon', '#', '')
              p.title Lorem ipsum dolor sit amet
            p.desc Lorem ipsum dolor sit amet
        +link('LOAD MORE', '#').load-more-btn
