extends layouts/layout

block vars
  -title = 'Nippon Paint Vietnam'
  -bodyClass = 'color-page'
  -menuIndex = 0

block container
  main
    section
      .container
        h1.page-heading Color
        ul.color-nav
          li.selected
            +link('Colour shemes for home', 'color-schemes-nav')(data-toggle="collapse", aria-expanded="true", aria-controls="color-schemes-nav")
          li.active
            +link('Colour cards', '#')
          li
            +link('Colour chips', '#')
        .color-sub-nav.collapse.in#color-schemes-nav
          +link('Nội thất', '').active
          +link('Ngoại thất', '')
    section.room-list
      .outer
        .container
          include blocks/room-list-nav
          .color-chip-container
            .color-chip-detail
              +img('Living room', 'images/color/chip/lemon-peel.jpg').color-img
              .name Leemon PRRL MP 049
              div.social-share
                +link('Love it', '#', '')
                  +img('Love it', 'images/heart-ico.png')
                +link('Tweet it', '#', '')
                  +img('Tweet it', 'images/tw-ico.png')
                +link('Mail to us', '#', '')
                  +img('Mail to us', 'images/mail-ico.png')
            .thumbnail
              +img('Living room', 'images/room-detail-img.jpg')
            p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in orci ligula. Integer a hendrerit mi. In pellentesque pulvinar massa.
          include blocks/recommended-colour-schemes
