extends layouts/layout

block vars
  -title = 'Nippon Paint Vietnam'
  -bodyClass = 'color-page'
  -menuIndex = 0

block container
  main
    section
      .container
        h1.page-heading Color
        ul.color-nav
          li.selected
            +link('Colour shemes for home', 'color-schemes-nav')(data-toggle="collapse", aria-expanded="true", aria-controls="color-schemes-nav")
          li.active
            +link('Colour cards', '#')
          li
            +link('Colour chips', '#')
        .color-sub-nav.collapse.in#color-schemes-nav
          +link('Nội thất', '').active
          +link('Ngoại thất', '')
    section.room-list
      .outer
        .container
          include blocks/room-list-nav
          .room-detail-container
            .thumbnail
              +img('Living room', 'images/room-detail-img.jpg')
            .color-select-container
              h3 Choose a primary colour for your room
              p.desc Zingy Yellow & Orange
              .color-bar
                .color-group
                  span(style='background-color: #FFCA3C')
                  span(style='background-color: #FFA302')
                  span(style='background-color: #FF7900')
                .color-group
                  span(style='background-color: #CE0C15')
                  span(style='background-color: #F32065')
                  span(style='background-color: #E02180')
                .color-group
                  span(style='background-color: #1D1E92')
                  span(style='background-color: #2C0B80')
                  span(style='background-color: #422196')
                .color-group
                  span(style='background-color: #82C59A')
                  span(style='background-color: #439F92')
                  span(style='background-color: #1D757F')
                .color-group
                  span(style='background-color: #CCBCBC')
                  span(style='background-color: #B1A7A6')
                  span(style='background-color: #A5A3A4')
              .color-detail-container
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color-1.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color-2.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color-3.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color4.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color5.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color6.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color7.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color-2.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color-3.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color-1.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color-2.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color-3.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color-1.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color-2.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
                .item
                  +link('Color', '#', '')
                    .color-code(style='background: #E97834')
                      +img('Color item', 'images/color/color-3.jpg')
                    .info
                      p.title Remember Rose
                      p 5133D
              div.social-share
                +link('Love it', '#', '')
                  +img('Love it', 'images/heart-ico.png')
                +link('Tweet it', '#', '')
                  +img('Tweet it', 'images/tw-ico.png')
                +link('Mail to us', '#', '')
                  +img('Mail to us', 'images/mail-ico.png')
