extends layouts/layout

block vars
  -title = 'Nippon Paint Vietnam'
  -bodyClass = 'color-page'
  -menuIndex = 0

block container
  main
    section
      .container
        h1.page-heading Color
        ul.color-nav
          li.selected
            +link('Colour shemes for home', 'color-schemes-nav')(data-toggle="collapse", aria-expanded="true", aria-controls="color-schemes-nav")
          li.active
            +link('Colour cards', '#')
          li
            +link('Colour chips', '#')
        .color-sub-nav.collapse.in#color-schemes-nav
          +link('Nội thất', '').active
          +link('Ngoại thất', '')
    section.room-list
      .outer
        include blocks/room-list-nav
        #room-accordion.room-container.haccordion
          ul
            li
              .room.hpanel
                +img('Living room', 'images/livingroom.jpg')
                .info
                  +link('LIVING ROOM', '#')
                    p.title Living room
                  p.desc Check out a fantastic range
            li
              .room.hpanel
                +img('Bed room', 'images/bedroom.jpg')
                .info
                  +link('Bed ROOM', '#')
                    p.title Bed room
                  p.desc Check out a fantastic range
            li
              .room.hpanel
                +img('Dining room', 'images/diningroom.jpg')
                .info
                  +link('Dining ROOM', '#')
                    p.title Dining room
                  p.desc Check out a fantastic range
            li
              .room.hpanel
                +img('Study room', 'images/studyroom.jpg')
                .info
                  +link('Study ROOM', '#')
                    p.title Study room
                  p.desc Check out a fantastic range
            li
              .room.hpanel
                +img('Baby / Kids room', 'images/babyroom.jpg')
                .info
                  +link('Baby / Kids ROOM', '#')
                    p.title Baby / Kids room
                  p.desc Check out a fantastic range
            li
              .room.hpanel
                +img('Living room', 'images/bathroom.jpg')
                .info
                  +link('Bath ROOM', '#')
                    p.title Bath room
                  p.desc Check out a fantastic range
