extends layouts/layout

block vars
  -title = 'Nippon Paint Vietnam'
  -bodyClass = 'page'
  -menuIndex = 0

block container
  main
    .breadcrumb-container
      .container
        ol.breadcrumb
          li
            +link('InSpiration', '#' , 'inspiration')
          li
            +link('Color My World', '#' , 'Color My World')
          li.active Tý
    section.color-fortune.intro
      .container
        .col-md-9.col-sm-9.col-xs-12.intro-text
          h1.title Lời khuyên phong thủy
          p.desc Sed quis placerat nisi, eu placerat leo. In lobortis tincidunt quam, vitae hendrerit massa blandit ut. Sed sit amet massa a mi auctor faucibus. Morbi ut malesuada dolor, in vehicula felis. Suspendisse id lacus dapibus, suscipit risus fringilla, faucibus purus. Vivamus facilisis quis massa et faucibus.
        .col-md-3.col-sm-3.hidden-xs
          +img('fortune detail', 'images/upload/fortune-detail.jpg').img-responsive
    section.color-fortune.detail
     .container
       h2.detail-title Lời khuyên cho năm
       .row
         .col-md-9.col-sm-12
           .color-fortune-list.panel-group
             .panel.panel-default
               .panel-heading
                 h4.panel-title
                   a(href='javascript:void(0)') Sự nghiệp
               .panel-collapse.collapse.in(style='display: block;')
                 .panel-body
                   p 14 Đường 3A, KCN Biên Hòa 2, Đồng Nai, Việt Nam
                   p Tel: (84) 61 383 6579 – 383 6586 (8 lines)
                   p Fax: (84) 61 383 6346 – 383 6349
             .panel.panel-default
               .panel-heading
                 h4.panel-title
                   a(href='javascript:void(0)') Tình cảm
               .panel-collapse.collapse
                 .panel-body
                   p 14 Đường 3A, KCN Biên Hòa 2, Đồng Nai, Việt Nam
                   p Tel: (84) 61 383 6579 – 383 6586 (8 lines)
                   p Fax: (84) 61 383 6346 – 383 6349
          .col-md-3.col-sm-12
            ul.detail-img
              li.col-md-12.col-sm-6
                +img('fortune detail', 'images/upload/fortune-detail-01.jpg').img-responsive
              li.col-md-12.col-sm-6
                +img('fortune detail', 'images/upload/fortune-detail-01.jpg').img-responsive
          .col-md-12.separate
            span.text Tham khảo thêm