extends layouts/layout

block vars
  -title = 'Nippon Paint Vietnam'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  main
    section.home-slider
      .slider-for
        div.style1
          +img('Nippon', 'images/slider/slide2.jpg')
          .content
            p.text-blue NIPPON PAINT
            p.text-red
              strong SƠN ĐÂU CŨNG ĐẸP
            p
              +link('Chi tiết', '#').btn-red
        div
          +img('Nippon', 'images/slider/slide1.jpg')
        div
          +img('Nippon', 'images/slider/slide1.jpg')
        div
          .videoWrapper.container(style="background-image:url('images/bg-1.jpg')")
            .row
              .col-xs-12.col-sm-6.col-md-6.col-md-offset-1.col-lg-7
                iframe(width='640', height='360', src='https://www.youtube.com/embed/UeUtN4k8myE?rel=0&amp;controls=0&amp;showinfo=0', frameborder='0', allowfullscreen='')
              .col-xs-12.col-sm-6.col-md-4.col-lg-3.hidden-xs
                h3 TVC của Nippon Paint
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at risus sed ex lacinia malesuada. Sed convallis sapien et urna convallis, vitae mollis nisl ultricies.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at risus sed ex lacinia malesuada. Sed convallis sapien et urna convallis, vitae mollis nisl ultricies.
                p
                  +link('View more', '#').btn-red
      .slider-nav
        h3.heading3 Sản phẩm Momento
        h3.heading3 Tri ân khách hàng
        h3.heading3 Nhà mới đón tết
        h3.heading3 Video
    section#inspriration-block.inspiration-block
      .article.wow.fadeInRight
        .thumbnail
          +link('Color my world', '#' , '').bwWrapper
            +img('Color my world', 'images/inspri1.jpg').color
        .content
          .inner
            +link('Color my world', '#' , '')
              h3.red-heading Color my world
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor.
            +link('Read more', '#')(class='readmore')
      .article.wow.fadeInRight
        .thumbnail
          +link('Color of fortune', '#' , '').bwWrapper
            +img('Color of fortune', 'images/inspri2.jpg').color
        .content
          .inner
            +link('Color of fortune', '#' , '')
              h3.red-heading Color of fortune
            p Năm 2016 sẽ là một năm suôn sẻ cho những người sinh năm Tí. Đây là năm của sự thành công về công danh, sự nghiệp và là một năm thăng hoa trong sự nghiệp, đặc biệt là đối với những ai đang làm ở vị trí quản lý và thư ký.
            +link('Read more', '#')(class='readmore')
      .article.right-style.wow.fadeInLeft
        .thumbnail
          +link('Trend beyond color', '#' , '').bwWrapper
            +img('Trend beyond color', 'images/inspri3.jpg').color
        .content
          .inner
            +link('Trend beyond color', '#' , '')
              h3.red-heading Trend beyond color
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor.
            +link('Read more', '#')(class='readmore')
      .article.right-style.wow.fadeInLeft
        .thumbnail
          +link('Showroom 360', '#' , '').bwWrapper
            +img('Showroom 360', 'images/inspri4.jpg').color
        .content
          .inner
            +link('Showroom 360', '#' , '')
              h3.red-heading Showroom 360
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor.
            +link('Read more', '#')(class='readmore')
    section#color-block.color-block
      .color-item.color1.wow.fadeInUp
        .thumbnail
          a(titlte='Color Scheme For Home', href='#').bwWrapper
            +img('Color Scheme For Home', 'images/color1.jpg').color
        .inner
          p.number 01
          h3.red-heading Color Scheme For Home
          p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor.

      .color-item.color2.wow.fadeInUp
        .thumbnail
          a(titlte='View Color Chip', href='#').bwWrapper
            +img('Color Scheme For Home', 'images/color2.jpg').color
        .inner
          p.number 02
          h3.red-heading View Color Chip
          p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor.
      .color-item.color3.wow.fadeInUp
        .thumbnail
          a(titlte='View Color Card', href='#').bwWrapper
            +img('Color Scheme For Home', 'images/color3.jpg').color
        .inner
          p.number 03
          h3.red-heading View Color Card
          p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor.
    section#product-block.product-block
      p.desc Quý khách có thể tìm kiếm thông tin chi tiết theo chức năng tìm kiếm nâng cao bên dưới, để có được sản phẩm tìm kiếm ưng ý nhất, chân thành cảm ơn.
      form#search-form
        .btn-group
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Khu vực/Loại bề mặt 
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Ngoại thất
            li
              a(href='#') Nội thất
            li.divider(role='separator')
            li
              a(href='#') Tường
            li
              a(href='#') Mái
            li
              a(href='#') Sàn
            li
              a(href='#') Bê Tông
            li
              a(href='#') Tường Gạch
            li
              a(href='#') Tường trát vữa
            li
              a(href='#') Gỗ
            li
              a(href='#') Bảng Thạch Cao
            li
              a(href='#') Kim Loại
            li
              a(href='#') Bề Mặt Giấy
            li
              a(href='#') Đường Tráng Nhựa
            li
              a(href='#') Khác
        .btn-group
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Loại sản phẩm 
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Sơn trang trí
            li
              a(href='#') Sơn dân dụng
            li
              a(href='#') Sơn công nghiệp
            li
              a(href='#') Lớp phủ
            li
              a(href='#') Sơn xịt
            li
              a(href='#') Sơn giữa
            li
              a(href='#') Sơn lót
            li
              a(href='#') Bột trét
            li
              a(href='#') Chống thấm
            li
              a(href='#') Sơn sấy
            li
              a(href='#') Sơn vạch đường
            li
              a(href='#') Sơn chịu nhiệt
        .btn-group
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Sản phẩm hoàn thiện 
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Bóng
            li
              a(href='#') Bóng mờ
            li
              a(href='#') Mờ
            li
              a(href='#') Hoa văn
        .btn-group
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Danh mục sản phẩm 
            span.caret
          ul.dropdown-menu
            li
              a(href='#') ODL CRVT
            li
              a(href='#') MATEX
            li
              a(href='#') MATEX SUPER WHITE
            li
              a(href='#') VATEX
        button.submit-btn.btn.btn-default(type="submit")
          | Tìm kiếm ngay
      .product-list
        .product.product1.wow.fadeInDown
          .thumbnail
            a(title='Sơn trang trí', href='#').bwWrapper
              +img('Sơn trang trí', 'images/prod1.jpg').color
          a(title='Sơn trang trí', href='#')
            span Sơn trang trí
        .product.product2.wow.fadeInDown
          .thumbnail
            a(title='Sơn dân dụng', href='#').bwWrapper
              +img('Sơn dân dụng', 'images/prod2.jpg').color
          a(title='Sơn dân dụng', href='#')
            span Sơn dân dụng
        .product.product3.wow.fadeInDown
          .thumbnail
            a(title='Sơn công nghiệp', href='#').bwWrapper
              +img('Sơn công nghiệp', 'images/prod3.jpg').color
          a(title='Sơn công nghiệp', href='#')
            span Sơn công nghiệp
        .product.product4.wow.fadeInDown
          .thumbnail
            a(title='Momento', href='#').bwWrapper
              +img('Momento', 'images/prod4.jpg').color
          a(title='Momento', href='#')
            span Momento
    section#tip-tool-block.tip-tool-block
      .tips-slider
        .edgtf-circle-carousel
          .edgtf-circle-carousel-slider
            img(src="images/upload/tip1.jpg", alt="slide_1")
            img(src="images/upload/tip2.jpg", alt="slide_1")
            img(src="images/upload/tip3.jpg", alt="slide_1")
            img(src="images/upload/tip1.jpg", alt="slide_1")
          .edgtf-circle-carousel-navigation.clearfix
            .edgtf-prev-icon-holder
              .edgtf-icon-inner
                a.edgtf-circle-carousel-icon.arrow_left(href='#', target='_self')
                //- span.edgtf-navigation-counter
            .edgtf-next-icon-holder
              .edgtf-icon-inner
                //- span.edgtf-navigation-counter
                a.edgtf-circle-carousel-icon.arrow_right(href='#', target='_self')
    section#news-block.news-block.container
      .row
        .col-xs-12.col-sm-6.col-md-3.wow.fadeInUp
          article
            h3.heading3 Promotion
            .inner
              .thumbnail
                a(title='Tiêu đề tin mới nhất promotion', href='#').bwWrapper
                  +img('Tiêu đề tin mới nhất promotion', 'images/art1.jpg').color
              .time
                p.month Nov
                p.date 24
                p.year 2015
              p.title Tiêu đề tin mới nhất promotion
              .info
                span.name Name
                span.slash / 
                span.tag Business
                span.slash / 
                span.comment 3 Comments
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor.
        .col-xs-12.col-sm-6.col-md-3.wow.fadeInUp
          article
            h3.heading3 Event Activation
            .inner
              .thumbnail
                a(title='Tiêu đề tin mới nhất promotion', href='#').bwWrapper
                  +img('Tiêu đề tin mới nhất promotion', 'images/art2.jpg').color
              .time
                p.month Nov
                p.date 24
                p.year 2015
              p.title Tiêu đề tin mới nhất Event
              .info
                span.name Name
                span.slash / 
                span.tag Business
                span.slash / 
                span.comment 3 Comments
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor.
        .col-xs-12.col-sm-6.col-md-3.wow.fadeInUp
          article
            h3.heading3 CSR
            .inner
              .thumbnail
                a(title='Tiêu đề tin mới nhất promotion', href='#').bwWrapper
                  +img('Tiêu đề tin mới nhất promotion', 'images/art3.jpg').color
              .time
                p.month Nov
                p.date 24
                p.year 2015
              p.title Tiêu đề tin mới nhất CSR
              .info
                span.name Name
                span.slash / 
                span.tag Business
                span.slash / 
                span.comment 3 Comments
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor.
        .col-xs-12.col-sm-6.col-md-3.wow.fadeInUp
          article
            h3.heading3 Partner
            .inner
              .thumbnail
                a(title='Tiêu đề tin mới nhất promotion', href='#').bwWrapper
                  +img('Tiêu đề tin mới nhất promotion', 'images/art4.jpg').color
              .time
                p.month Nov
                p.date 24
                p.year 2015
              p.title Tiêu đề tin mới nhất Partner
              .info
                span.name Name
                span.slash / 
                span.tag Business
                span.slash / 
                span.comment 3 Comments
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie erat at nisl volutpat pulvinar. Sed in egestas dolor.
    section#support-block.support-block
      .icolor
        .thumbnail
          a(href='#', title='iColor').bwWrapper
            +img('iColor', 'images/icolor.jpg').color
        .content
          h3 iCOLOR
          p Tự Phối Màu
            br
            | Theo Phong Cách
            br
            | Riêng Của Bạn
          +link('detail', '#')
          +img('iColor', 'images/icolor-ico.png')
      .isubmit
        .thumbnail
          a(href='#', title='iSubmit').bwWrapper
            +img('iColor', 'images/isubmit.jpg').color
        .content
          h3 iSUBMIT
          p Hãy để đội ngũ
            br
            | tư vấn chuyên
            br
            | nghiệp giúp bạn!
          +link('detail', '#')
          +img('iColor', 'images/isubmit-ico.png')
      .imix
        .thumbnail
          a(href='#', title='iMix').bwWrapper
            +img('iSubmit', 'images/imix.jpg').color
        .content
          h3 iMIX
          p Tính toán sơn
          +link('detail', '#')
          +img('iColor', 'images/imix-ico.png')
    section.distributor-block
      .container
        .map
          #distributor-map
        .distributor-filter
          p.title Hãy Tìm Đại Lý Gần Bạn Nhất
          .dropdown
            button#city.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
              | Tỉnh/Thành phố
              span.caret
            ul.dropdown-menu(aria-labelledby='city')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider(role='separator')
              li
                a(href='#') Separated link
          .dropdown
            button#district.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
              | Quận/Huyện
              span.caret
            ul.dropdown-menu(aria-labelledby='city')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider(role='separator')
              li
                a(href='#') Separated link
          .dropdown
            button#ward.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
              | Phường/Xã
              span.caret
            ul.dropdown-menu(aria-labelledby='city')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider(role='separator')
              li
                a(href='#') Separated link
          .result
            .item
              h4 Đại lý 1
              p Tỉnh/Thành Phố  Quận/Huyện Phường/Xã 0125 8965 4856
            .item
              h4 Đại lý 1
              p Tỉnh/Thành Phố  Quận/Huyện Phường/Xã 0125 8965 4856
            .item
              h4 Đại lý 1
              p Tỉnh/Thành Phố  Quận/Huyện Phường/Xã 0125 8965 4856
            .item
              h4 Đại lý 1
              p Tỉnh/Thành Phố  Quận/Huyện Phường/Xã 0125 8965 4856
            .item
              h4 Đại lý 1
              p Tỉnh/Thành Phố  Quận/Huyện Phường/Xã 0125 8965 4856
    section#contact-block.contact-block
      .contact-map
        #contact-map
      .container
        h3.red-heading Thông tin liên hệ
        .row
          .col-xs-12.col-sm-7
            .contact-list
              #contact-list.panel-group
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(href='javascript:void(0)') Nhà máy Biên Hòa
                  .panel-collapse.collapse.in(style='display: block;')
                    .panel-body
                      p 14 Đường 3A, KCN Biên Hòa 2, Đồng Nai, Việt Nam
                      p Tel: (84) 61 383 6579 – 383 6586 (8 lines)
                      p Fax: (84) 61 383 6346 – 383 6349
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(href='javascript:void(0)') Chi nhánh Hồ Chí Minh
                  .panel-collapse.collapse(style='display: none;')
                    .panel-body
                      p 14 Đường 3A, KCN Biên Hòa 2, Đồng Nai, Việt Nam
                      p Tel: (84) 61 383 6579 – 383 6586 (8 lines)
                      p Fax: (84) 61 383 6346 – 383 6349
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(href='javascript:void(0)') Chi nhánh Cần Thơ
                  .panel-collapse.collapse(style='display: none;')
                    .panel-body
                      p 14 Đường 3A, KCN Biên Hòa 2, Đồng Nai, Việt Nam
                      p Tel: (84) 61 383 6579 – 383 6586 (8 lines)
                      p Fax: (84) 61 383 6346 – 383 6349
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(href='javascript:void(0)') Chi nhánh Hải Phòng
                  .panel-collapse.collapse(style='display: none;')
                    .panel-body
                      p 14 Đường 3A, KCN Biên Hòa 2, Đồng Nai, Việt Nam
                      p Tel: (84) 61 383 6579 – 383 6586 (8 lines)
                      p Fax: (84) 61 383 6346 – 383 6349
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(href='javascript:void(0)') Chi nhánh Hà Nội
                  .panel-collapse.collapse(style='')
                    .panel-body
                      p 14 Đường 3A, KCN Biên Hòa 2, Đồng Nai, Việt Nam
                      p Tel: (84) 61 383 6579 – 383 6586 (8 lines)
                      p Fax: (84) 61 383 6346 – 383 6349
          .col-xs-12.col-sm-5
            form#contact-form.contact-form
              .col-xs-12.col-sm-6
                .form-group
                  input#name.form-control(type='text', placeholder='Họ tên ')
              .col-xs-12.col-sm-6
                .form-group
                  input#email.form-control(type='email', placeholder='Email')
              .col-xs-12
                .form-group
                  input#subject.form-control(type='email', placeholder='Tiêu đề')
              .col-xs-12
                .form-group
                  textarea.form-control(rows='3', placeholder='Nội dung')
              .col-xs-12
                .btn-container
                  a.btn.btn-default(href='#', role='button') Xóa
                  button.btn.btn-default(type='submit') Gửi
    section.testimonial-block.container
      .outer
        .row
          .col-xs-12.col-sm-6.wow.fadeInLeft
            .item
              h3 BẢO VỆ THẾ GIỚI TƯƠI ĐẸP HƠN
              p Sơn không chỉ giúp bảo vệ bề mặt, mà còn giúp lan tỏa màu sắc, mang vẻ đẹp vào cuộc sống và môi trường xung quanh. Đó chính là tinh thần và văn hóa mà Sơn Nippon luôn tuân thủ. Sơn không chỉ là thứ phủ bên ngoài gỗ hay tường, xi măng hay vữa, sắt thép hay nhựa. Sơn là màu sắc. Một màu quyến rũ, tạo cảm giác vui vẻ, tôn vinh sự sáng tạo và vẻ đẹp.
          .col-xs-12.col-sm-6.wow.fadeInLeft
            .item
              h3 BIẾN SƠN NGUYÊN LIỆU CỦA SỰ SÁNG TẠO
              p Sơn không chỉ giúp bảo vệ bề mặt, mà còn giúp lan tỏa màu sắc, mang vẻ đẹp vào cuộc sống và môi trường xung quanh. Đó chính là tinh thần và văn hóa mà Sơn Nippon luôn tuân thủ. Sơn không chỉ là thứ phủ bên ngoài gỗ hay tường, xi măng hay vữa, sắt thép hay nhựa. Sơn là màu sắc. Một màu quyến rũ, tạo cảm giác vui vẻ, tôn vinh sự sáng tạo và vẻ đẹp.
          .col-xs-12.col-sm-6.wow.fadeInRight
            .item
              h3 ĐƯA HƠI THỞ CUỘC SỐNG VÀO CẢNH QUAN
              p Sơn không chỉ giúp bảo vệ bề mặt, mà còn giúp lan tỏa màu sắc, mang vẻ đẹp vào cuộc sống và môi trường xung quanh. Đó chính là tinh thần và văn hóa mà Sơn Nippon luôn tuân thủ. Sơn không chỉ là thứ phủ bên ngoài gỗ hay tường, xi măng hay vữa, sắt thép hay nhựa. Sơn là màu sắc. Một màu quyến rũ, tạo cảm giác vui vẻ, tôn vinh sự sáng tạo và vẻ đẹp.
          .col-xs-12.col-sm-6.wow.fadeInRight
            .item
              h3 CAM KẾT VỀ CHẤT LƯỢNG
              p Sơn không chỉ giúp bảo vệ bề mặt, mà còn giúp lan tỏa màu sắc, mang vẻ đẹp vào cuộc sống và môi trường xung quanh. Đó chính là tinh thần và văn hóa mà Sơn Nippon luôn tuân thủ. Sơn không chỉ là thứ phủ bên ngoài gỗ hay tường, xi măng hay vữa, sắt thép hay nhựa. Sơn là màu sắc. Một màu quyến rũ, tạo cảm giác vui vẻ, tôn vinh sự sáng tạo và vẻ đẹp.
