extends layouts/layout

block vars
  -title = 'Nippon Paint Vietnam'
  -bodyClass = 'page'
  -menuIndex = 0

block container
  main
    .breadcrumb-container
      .container
        ol.breadcrumb
          li
            +link('InSpiration', '#' , 'inspiration')
          li.active Color My World
    .container
      .color-detail-intro
        h1.title Trắng vượt thời gian
        p.desc Sed quis placerat nisi, eu placerat leo. In lobortis tincidunt quam, vitae hendrerit massa blandit ut. Sed sit amet massa a mi auctor faucibus. Morbi ut malesuada dolor, in vehicula felis. Suspendisse id lacus dapibus, suscipit risus fringilla, faucibus purus. Vivamus facilisis quis massa et faucibus. Integer a sodales lorem, ac dapibus velit. Nam tincidunt nisl eu sapien sollicitudin efficitur. Curabitur semper iaculis orci nec sodales. Etiam malesuada vitae dui sit amet accumsan. Morbi efficitur mattis tincidunt. In hac habitasse platea dictumst.
      .row.color-detail-grid
         each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
          .col-md-6.col-sm-6.item
            +link('ins-title', '#').thumbnail
              +img('ins', 'images/upload/fortune-1.jpg').img-responsive
