extends layouts/template

block vars
  -title = 'Sitemap'

block container
  style.
    .template {text-transform: uppercase; text-align: center;}
    .template li {margin-top: 20px;}
    .template a {padding: 15px; display: block; text-decoration: none; background: #fff; color: #111; line-height: 1;}
    .template a:hover {background: #ddd; color: #000;}
    @media only screen and (min-width : 767px) {
      .template li {float: left; width: 33.33333333%; padding: 0 10px;}
      .template li:nth-child(3n+1) {clear: left;}
      .template ul {overflow: hidden; margin: 0 -10px;}
    }
  h1 Project name
  h2 Templates
  ul
    li: +link('Layer', 'template-layer.html')
    li: +link('Sprite', 'template-sprite.html')
    li: +link('Style Guide', 'template-style-guide.html')
  h2 Pages
  ul
    li: +link('Homepage', 'index.html')
    li: +link('Color cards', 'color-cards.html')
    li: +link('Color scheme for home cap 1', 'color-scheme-cap-1.html')
    li: +link('Color scheme for home cap 3 detail', 'color-scheme-cap-3-detail.html')
    li: +link('Color scheme for home cap 4 detail', 'color-scheme-cap-4-detail.html')

