extends layouts/layout

block vars
  -title = 'Nippon Paint Vietnam'
  -bodyClass = 'page'
  -menuIndex = 0

block container
  main
    .container
      .breadcrumb-container
        ol.breadcrumb
          li
            +link('InSpiration', '#' , 'inspiration')
          li.active Trend Beyound Color
            
      .row.inspiration-items
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
          .col-md-4.col-sm-6.item
            +link('ins-title', '#').thumbnail
              +img('ins', 'images/upload/is-1.jpg').img-responsive.bwWrapper
