extends layouts/layout

block vars
  -title = 'Nippon Paint Vietnam'
  -bodyClass = 'page'
  -menuIndex = 0

block container
  main
    .container
      .breadcrumb-container
        ol.breadcrumb
          li
            +link('InSpiration', '#' , 'inspiration')
          li
            +link('Trend Beyound Color', '#' , 'Trend Beyound Color')
          li.active Persian Blue
            
      .trend-detail
        h1.title Perfect Harmony
        p.desc Persian Blue NP BGG 1588T is a colour inspired by the best gifts of nature, offerring us a sense of renewal and reassuring us that whatever we need will be provided for. This nature-loving colour asks us to create a new balance between corporate pressures, job creation and where to draw the line in the preservation of our world’s natural resources.
        +img('trend detail', 'images/upload/trend-1.jpg').img-responsive
        h2.title Perfect Harmony
        p.desc Persian Blue NP BGG 1588T is a colour inspired by the best gifts of nature, offerring us a sense of renewal and reassuring us that whatever we need will be provided for. This nature-loving colour asks us to create a new balance between corporate pressures, job creation and where to draw the line in the preservation of our world’s natural resources.
        +img('trend detail', 'images/upload/trend-2.jpg').img-responsive
        +img('trend detail', 'images/upload/trend-3.jpg').img-responsive
        h2.title.text-center Trend Beyound Color 2015/16
